@import "size_variables.scss";
@import 'colors.scss';

div[aria-labelledby='dual-range-modal'] {
  z-index: 9999;
  background-color: $page-background-deep-color;

  .dual-range-modal {
    max-width: $app-container-max-width !important;
    width: $app-view-port-width;
  }

  @media (min-width: 769px) {
    .dual-range-modal {
      margin-top: 95px;
      .modal-content {
        border: none;
      }
    }
  }

  .modal-content {
    background-color: $page-background-color;
    border-radius: 11px;
    color: white;
  }

  .custom-modal-header {
    .close {
      color: #ffffff;
      opacity: unset;
      margin-top: 6px;
      margin-right: 10px;
      font-size: 26px;
      font-weight: lighter;
    }
  }
}
