@import 'colors.scss';

.left-section {
  padding-right: 10px;
  border-radius: 11px;
  .button-group {
    padding-left: 8px;

    .additional-buttons {
      margin-right: 15px;
      margin-bottom: 5px;
      display: flex;

      .additional-button {
        padding: 10px 15px;
        background-color: $primary-color;
        margin-right: 5px;
        border-radius: 7px;
        text-align: center;
        color: #1E1E31;
        font-weight: 800;

        &:hover {
          filter: brightness(80%);
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .button-group {
    max-width: 900px;
  }
}
