@import 'size_variables.scss';
@import 'colors.scss';

.modal-dialog.profile-modal.confirm {
  max-width: 500px !important;
  .modal-content {
    padding: 0 10px;
  }

  .btn-actions {
    float: right;
    button {
      font-size: 15px;
      text-align: center;
      border-radius: 7px !important;
      cursor: pointer;
    }
    .btn-delete {
      background: #E23752 !important;
      border-color: #E23752 !important;
    }
  }
}

.modal-dialog.profile-modal {
  color: #ffffff;
  z-index: 99999;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  min-width: 400px;

  .modal-content {
    background-color: $page-background-color;
    padding: 0px 30px;
    .custom-modal-header {
      .close {
        color: #ffffff;
        opacity: unset;
        margin-top: 6px;
        margin-right: 10px;
        font-size: 26px;
        font-weight: lighter;
      }
    }
  }
  .section-header {
    font-size: 28px;
    padding: 0 0 40px 0;
  }
  .contact-text {
    font-weight: 500;
    font-size: 18px;
    color: #3D64F8;
  }
  .separate{
   height: 2px;
   width: 100%;
   background-color: #3B3B56;
   margin: 30px 0;
  }
  .change-password {
    background-color: transparent !important;
    border-color: transparent !important;
    max-height: 24px;
    padding-top: 0px;
  }
  button.update-password {
    min-width: 160px;
  }
  input, select, input[name='email'] {
    background-color: #383856;
    color: #ffffff;
    border-radius: 7px;
    outline: none;
    border: none;
    box-shadow: none;
    &:focus {
      background-color: #383856;
      color: #ffffff;
    }
  }
  .react-datepicker-wrapper {
    display: block;
  }
  .date-picker-container {
    display: block;
    position: relative;
    .date-picker-input {
      padding-left: 40px;
      &:focus {
        background-color: #383856;
        color: #ffffff;
      }
    }
    .calendar-icon {
      position: absolute;
      top: 50%;
      left: 14px;
      transform: translateY(-50%);
    }
  }
  .birthday-error {
    font-size: 13px;
    color: #dc3545;
  }

  .form-control {
    &:focus {
      box-shadow: 0 0 0 2px $selected-border-color;
    }
  }
}
.modal-dialog.profile-modal {
  &.activity-login-container {
    max-width: 700px;
    .activity-login-table {
      width: 100%;
      thead {
        border: none;
        tr {
          background-color:#383856;
          cursor: pointer;
          th:hover {
            background-color: $selected-background-color;
          }
          th:last-child {
            cursor:default;
          }
          th:first-child {
            border-top-left-radius: 11px !important;
          }
          th:last-child {
            border-top-right-radius: 11px !important;
          }
        }
      }
      tr td, tr th {
        border-right: 1px solid #4c4c6c;
        height: 54px;
      }
      tr td:nth-last-child(1), tr th:nth-last-child(1) {
        border-right: none;
      }
      tbody tr:nth-child(2n + 1){
        background-color: #2A2A44;
      }
      tbody tr:nth-child(2n + 2){
        background-color: #383856;
      }
    }
    .modal-detail {
      width: 1000px;
    }
  }
  &.table-sims {
    max-width: 1100px;
    .my-sim-container {
      .content-body {
        padding: 0px;
        .table-container {
          min-height: 0px;
          max-height: 500px;
          overflow: auto;
          .my-sim-table {
            tbody tr td:last-child {
              background-color: inherit !important;
            }
            tr td:nth-last-child(2) {
              border-right: 1px solid #4c4c6c;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1240px) {
  .modal-dialog.profile-modal {
    top: 80px;
    .section-header {
      padding: 20px 0 20px 0;
    }
    div.title {
      font-size: 14px !important;
      padding: 0 6px !important;
    }
  }
}
