@import 'colors.scss';

div[aria-labelledby='compare-ev-modal'] {
  z-index: 99999;
  .modal-dialog{
    min-width: 600px;
    margin-top: 200px;
    &.modal-xxl {
      max-width: 1000px;
      margin-top: 10px !important;
    }
  }
  .modal-content {
    background-color:#2A2A44;
    color: #fff;
    border-radius: 11px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.11);
    .custom-modal-header {
      font-weight: bold;
      padding: 15px;
      background-color: #383856;
      border-radius: 11px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      .close {
        color: #ffffff;
        opacity: unset;
        font-size: 26px;
        font-weight: lighter;

        &:hover {
          opacity: 0.75;
        }
      }
    }
    .modal-title {
      font-size: 16px !important;
      font-weight: bold;
    }
    button.close {
      font-size: 16px;
      span {
        color: #fff;
        &.sr-only {
          display: none;
        }
      }
    }
    .content {
      padding: 0 20px 10px;
      .option {
        cursor: pointer;
        background-color: #383856;
        border-radius: 5px;
        height: 55px;
        width: 100%;
        padding: 0 15px;
        margin: 1px;
        .icon {
          width: 28px;
          height: 28px;
          border-radius: 5px;
          img {
            width: auto;
            height: 18px;
          }
        }
        .chips-icon {
          background-color: #3D64F8;
        }
        .explanation-icon {
          background-color: #F59B53;
        }
        .colour-icon {
          background-color: #2AD699;
        }
        .document-icon {
          background-color: #BD80E3;
        }
        .next-icon {
          height: 12px;
          width: auto;
        }
      }
    }
    .btn-primary {
      background: $primary-color ;
      border-color: $primary-color;
      padding: 10px;
      font-size: 16px;
      text-align: center;
      border-radius: 7px;
      cursor: pointer;
      &:hover {
        background: $primary-color;
      }
      &:focus {
        background: $primary-color;
      }
    }
    .back-icon {
      padding-left: 5px;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  div[aria-labelledby='compare-ev-modal'] {
    z-index: 99999;
    .modal-dialog{
      min-width: unset;
    }
  }
}

div[aria-labelledby='text-box-popup'] {
  z-index: 999999;
  background-color: rgba(97, 97, 105, 0.1);

  .text-box-popup {
    max-width: 600px !important;
    top: 50%;
    transform: translateY(-76%) !important;
  }

  .modal-content {
    background-color: #2a2a44;
    border-radius: 11px;
    color: white;
    height: auto;
    .content{
      max-height: 250px;
      padding: 10px 0;
    }
  }

  .custom-modal-header {
    background-color:rgba(101, 101, 130, 0.3);
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    padding: 12px 8px 12px 10px;
    .close {
      color: #ffffff;
      opacity: unset;
      margin-top: 6px;
      margin-right: 10px;
      font-size: 26px;
      font-weight: lighter;
    }
  }
  textarea { 
    width: 96%;
  }
}

