@import 'size_variables.scss';
@import 'colors.scss';

$margin-per-section: 160px;
$margin-per-section-responsive: 100px;

.landing-page, .basic-auth-accept-screen {
  padding: 100px 0;
  color: #fff;
  width: 100%;
  max-width: $app-container-max-width;
  margin: 0 auto;
  .introduce-section {
    margin: 100px 0;
    height: 562px;
    .title-top {
      margin-top: 126px;
      margin-bottom: 50px;
      margin-left: 1rem;
      p { font-size: 60px; }
      order: 2;
    }
    .introduce-background {
      order: 1;
      position: relative;
      .introduce-image {
        width: 70%;
        object-fit: contain;
      }
    }
  }
  .tutorial-section, .only-for-ggplatinum {
    .video-title {
      text-align: center;
      font-size: 35px;
      color: #3d64fa;
      font-weight: bold;
      margin-bottom: 50px;
    }
    .tutorial-background {
      .tutorial-video-wrapper {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
      }
      .react-player {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  .try-odin {
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 30px 10px;
    font-size: 20px;
    background-color: #3d64fa !important;
    box-shadow: 0px 0px 15px 5px #3b64fa !important;
  }
  .size-react-player {
    width: 100% !important;
    height: 100% !important;
  }
  .arrow-headshots {
    background-color: #161621;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin-top: $margin-per-section;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .view-comments {
    margin-top: $margin-per-section !important;
    .view-odin-first {
      background: url("../../images/person-first.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 290px;
    }
    .view-odin-second {
      background: url("../../images/person-second.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 290px;
    }
    .view-conversation {
      border: 5px solid blue;
      border-radius: 25px;
      padding: 10px 37px 30px;
      min-height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .conversation-content {
        flex: 1;
      }
      div {
        justify-content: center;
        align-items: center;
      }
      img {
        width: 25px;
        height: 25px;
        margin-right: 5px;
      }
      p {
        font-size: 20px !important;
        text-align: center;
      }
      .color-name {
        color: #be4a5b;
        font-weight: bold;
      }
      .color-desc { color: #b2717c; }
    }
    .dot-icon {
      background: url("../../images/dot.png");
      height: 80px;
      background-repeat: no-repeat;
      background-size: 40px, 40px;
      background-position: center;
      position: absolute;
      width: 80px;
      transform: translate(-35%, -35%);
      background-color: #0b0b17;
      border-radius: 30px;
    }
  }
  .compare-section {
    margin-top: $margin-per-section;
    .title-the-best {
      text-align: center;
      font-size: 40px;
      color: #3d64fa;
      font-weight: bold;
    }
    .features-table {
      background-image: url("../../images/table_compare.png");
      max-width: 1220px;
      margin: auto !important;
      background-repeat: no-repeat;
      height: 665px;
      background-size: 100% 100%;
    }
  }
  
  .logo-image {
    margin: 60px auto 0;
    max-width: 490px;
    width: 100%;
    padding: 10px 20px;
  }
  .title{
    font-size: 50px;
    margin-top: 40px;
  }
  .play-video {
    padding: 0 60px;
    max-height: 800px;
    height: 100%;
    position: relative;
    margin-top: $margin-per-section;
    .video-title {
      text-align: center;
      font-size: 40px;
      color: #3d64fa;
      font-weight: bold;
      margin-bottom: 50px;
    }
    .react-player {
      height: 650px !important;
    }
  }
  .feature-section{
    margin-top: $margin-per-section;
    margin-left: auto;
    margin-right: auto;
    max-width: $app-content-max-width;
    .feature-icon{
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon{
        height: auto;
        width: auto;
      }
    }
    .feature-title{
      margin: 12px 0 10px;
      font-size: 20px;
      text-shadow: 0px 0px 20px #8FCCFF;
    }
    .feature-description{
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      margin-left: 0;
      list-style: disc inside;
      padding-left: 0;
      width: 100%;
    }
  }
  .subcribe-box {
    font-family: Lato;
    width: 90vw;
    max-width: 900px;
    background: $page-background-color;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.0619537);
    margin: $margin-per-section auto 0;
    border-radius: 10px;
    padding: 40px 80px;

    .description {
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      color: #FFFFFF;
    }
    .subscribe-form{
      margin-top: 40px;
      font-weight: 500;
      font-size: 16px;
      flex-wrap: wrap;
      input{
        background-color: #383856;
        border: none;
        box-shadow: none;
        color: #eee;
        height: 45px;
      }
      button {
        font-weight: bold;
        height: 45px;
      }
    }
  }
  .feature-item { margin-top: 40px; }
  .video-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 30px 30px rgba(0,0,0,0.75);
    top: 0;
    left: 0;
  }
}

.landing-page-subscribe {
  .subcribe-page.subcribe-content {
    margin-top: 50px;
    margin-bottom: $margin-per-section;
    background-color: unset;
    .feature-section-container {
      margin-top: 0px;
      margin-bottom: $margin-per-section;
      padding-top: 0;
      .feature-section-container-title {
        margin-bottom: 40px;
      }
      .feature-section .feature-item .feature-icon .icon {
        height: auto;
        width: auto;
        transform: scale(1.1);
      }
    }
    .payment-section {
      padding-top: 0;
    }
    
  }
}

@media (max-width: 375px), (max-width: 414px), (max-width: 540px) {
  .landing-page {
    .introduce-section {
      margin: 20px 0;
      .introduce-background {
        justify-content: center;
        display: initial;
        text-align: center;
        .introduce-image {
          width: 90%;
          float: none !important;
        }
      }
      .title-top { margin-top: 20px !important; }
    }
    .play-video {
      padding: 0;
    }
  }
}


@media(max-width: 578px){
  .landing-page {
    .title{
      font-size: 40px;
      margin-top: 60px;
    }
    .subcribe-box{ padding: 40px; }
    .subscribe-form{
      input{ margin-top: 10px; }
      button { margin-top: 10px; }
    }
  }

}

@media (max-width: 768px) {
  .landing-page {
    padding-top: 10px;
    padding-bottom: 20px;
    .introduce-section {
      .title-top {
        position: relative;
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
        text-align: center;
        p {
          margin-left: 8px;
          font-size: 35px;
          display: inline-block;
        }
        a {
          display: block;
        }
      }
    }
    .try-odin { font-size: 12px; }
    .arrow-headshots { width: 80%; }
    .view-odin { height: 130px; }
    .view-comments {
      .view-comments-first {
        margin-bottom: 50px;
      }
    }

    .compare-section {
      margin-top: $margin-per-section-responsive;
      .features-table { height: 400px; }
    }
    .logo-image {
      margin: 30px auto 0;
      padding: 0px;
      max-width: 380px;
    }
    .title {
      margin-top: 10px;
      font-size: 44px;
    }
    .subcribe-box {
      padding: 20px 40px 10px;
      .description { font-size: 16px; }
    }
    .play-video {
      max-height: 450px;
      margin-top: $margin-per-section-responsive;
      .react-player {
        height: 300px !important;
      }
    }
  }
}

@media (max-width: 500px) {
  .landing-page {
    .introduce-section {
      .title-top {
        p {
          margin-left: 8px;
          font-size: 26px;
        }
      }
    }
    .compare-section {
      margin-top: $margin-per-section-responsive;
      .features-table { height: 270px; }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .landing-page {
    padding-top: 10px;
    padding-bottom: 20px;
    .introduce-section {
      .title-top {
        margin-top: 50px;
        margin-left: 5px;
        text-align: left;
        p {
          font-size: 35px;
          display: block;
          margin-left: 0;
        }
      }
    }
    .try-odin { font-size: 15px; }
    .arrow-headshots {
      width: 80%;
    }
    .view-odin { height: 170px; }
    .view-comments {
      margin-top: 150px !important;
      .view-odin-first, .view-odin-second { height: 180px; }
      .view-conversation { min-height: 500px; }
    }
    .compare-section {
      margin-top: $margin-per-section-responsive;
      .features-table { height: 434px; }
    }
    .logo-image {
      margin: 30px auto 0;
      padding: 0px;
      max-width: 380px;
    }
    .title {
      margin-top: 10px;
      font-size: 44px;
    }
    .play-video {
      max-height: 550px;
      margin-top: $margin-per-section-responsive;
      .react-player {
        height: 400px !important;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1500px) {
  .landing-page {
    .introduce-section {
      .title-top {
        margin-top: 70px;
        margin-left: 1.5rem;
        p { font-size: 42px; }
      }
    }
    .play-video {
      max-height: 700px;
      .react-player {
        height: 550px !important;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .landing-page {
    padding-top: 40px;
    padding-bottom: 20px;
    .logo-image {
      margin: 40px auto 0;
      padding: 0px;
      max-width: 380px;
    }
    .title {
      margin-top: 10px;
      font-size: 44px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1281px) {
  .landing-page {
    padding-top: 100px;
    padding-bottom: 20px;
    .try-odin { font-size: 15px; }

    .arrow-headshots { margin-top: $margin-per-section-responsive; }
    .view-odin {
      height: 170px;
      margin-top: 140px !important;
    }
    .view-comments {
      margin-top: $margin-per-section-responsive;
      .view-conversation { min-height: 400px; }
    }
    .compare-section {
      margin-top: $margin-per-section-responsive;
      .features-table { height: 465px; }
    }
  }
}

@media (min-width: 992px) and (max-width: 1366px), (max-width: 1440px) {
  .landing-page {
    padding-top: 100px;
    padding-bottom: 20px;
    .introduce-section { height: 444px }
    .try-odin { font-size: 15px; }
    .arrow-headshots { margin-top: $margin-per-section-responsive; }
    .view-odin {
      height: 200px;
      margin-top: 140px !important;
    }
    .view-comments {
      margin-top: $margin-per-section-responsive;
      .view-odin-first, .view-odin-second { height: 250px; }
      .dot-icon { transform: translate(-40%, -35%);}
      .view-conversation { min-height: 350px; }
    }
    .compare-section {
      margin-top: $margin-per-section-responsive;
      .title-the-best { margin-top: 30px !important }
    }
  }
}


@media (min-width: 768px) {
  .landing-page {
    .introduce-section {
      flex-wrap: nowrap;
      .title-top {
        order: 1;
      }
      .introduce-background {
        order: 2;
      }
    }
  }
}

@media (min-width: 900px) and (max-width: 950px) {
  .landing-page {
    .view-comments {
      .view-conversation { min-height: 500px; }
    }
  }
}

@media (min-width: 950px) and (max-width: 1050px) {
  .landing-page {
    .view-comments {
      .view-conversation { min-height: 450px; }
    }
  }
}

@media (min-width: 1050px) and (max-width: 1200px) {
  .landing-page {
    .view-comments {
      .view-conversation { min-height: 380px; }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1270px) {
  .landing-page {
    .view-comments {
      .view-conversation { min-height: 450px; }
    }
  }
}

@media (min-width: 1440) and (max-width: 1680px) {
  .landing-page {
    .view-comments {
      .view-odin-first, .view-odin-second { height: 290px; }
      .dot-icon { transform: translate(-40%, -35%);}
    }
  }
}
