@import 'size_variables.scss';
@import 'colors.scss';

.basic-auth-accept-screen {
  display: initial;
  .btn-accept-login {
    float: right;
    margin: 30px;
    background-color: transparent !important;
    border: transparent;
    font-weight: bold;
    &:active, &:hover, &:focus {
      background-color: transparent !important;
    }
  }
  .join-discord{
    padding: 0 5px;
    .discord-logo-container{
      margin-left: 4px;
      width: auto;
      height: 40px;
      display: inline-block;
      .discord-logo{
        font-size: 24px;
      }
    }
  }
}

.modal-dialog.auth-modal {
  color: #ffffff;
  top: 200px;
  .modal-content {
    background-color: $page-background-color;
    padding: 0px 30px;
  }

  .section-header {
    font-size: 28px;
    padding: 0 0 40px 0;
  }
  .contact-text {
    font-weight: 500;
    font-size: 18px;
    color: #3D64F8;
  }
  .separate{
   height: 2px;
   width: 100%;
   background-color: #3B3B56;
   margin: 30px 0;
  }
  input, select, input[name='email'] {
    background-color: #383856;
    color: #ffffff;
    border-radius: 7px;
    outline: none;
    border: none;
    box-shadow: none;
    &:focus {
      background-color: #383856;
      color: #ffffff;
    }
  }

  button {
    margin-top: 20px;
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1240px) {
  .modal-dialog.auth-modal {
    top: 120px;
    .section-header {
      padding: 20px 0 20px 0;
    }
    div.title {
      font-size: 14px !important;
      padding: 0 6px !important;
    }
  }
}
