@import 'colors.scss';

.runouts-explorer {
  margin: 16px;

  .btn:focus {
    box-shadow: unset;
  }

  .ranks-group {
    margin-bottom: 1px;

    .ranks {
      width: 89%;
      float: right;
      border-radius: 6px;
      display: flex;
      overflow: hidden;

      .rank-item {
        flex: 1 1;
        background-color: #383856;
        height: 33px;
        line-height: 33px;
        text-align: center;
        font-weight: bold;

        &:not(:last-child) {
          margin-right: 1px;
        }
      }
    }
  }

  .options-group {
    width: 7.5%;
    display: flex;
    flex-direction: column;

    .option-btn {
      color: white;
      background-color: #383856;
      display: block;
      width: 82px;
      min-height: 55px;
      border-radius: 8px;
      flex: 1 1;

      &:not(:last-child) {
        margin-bottom: 4px;
      }

      &:hover {
        background-color: $selected-background-color;
      }

      &.selected {
        background-color: $selected-background-color;
      }
    }
  }

  .suits-groups {
    width: 3.5%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 1px;

    .suited-btn {
      background-color: #383856;
      width: 41px;
      flex: 1 1;

      &:not(:last-child) {
        margin-bottom: 1px;
      }
    }
  }

  .hand-matrix-items-group {
    width: 89%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    overflow: hidden;

    .matrix-item {
      width: 7.5%;
      flex-grow: 1;
      margin-bottom: 1px;
      background: #383856;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 3px;

      &:not(:nth-of-type(13n)) {
        margin-right: 1px;
      }

      .matrix-item-info {
        font-size: 9px;
        font-weight: 500;
        padding: 0 4px;
        flex: 1 1;
      }
    }
  }

  .runouts-explorer-content-mobile {
    display: none;
  }
}

@media (max-width: 992px) {
  .runouts-explorer-content {
    display: none;
  }

  .runouts-explorer-content-mobile {
    display: block !important;

    .options-group {
      flex-direction: row;
      width: 100%;
      height: 55px;
      margin-bottom: 6px;
    }

    .suits-groups {
      flex-direction: row;
      width: 92%;
      height: 55px;
      margin-left: 8%;

      .suited-btn  {
        margin-right: 1px;
        margin-bottom: 1px;
      }
    }

    .ranks-group {
      width: 8%;
      .ranks {
        flex-direction: column;
        width: 100%;
        height: 1030px;

        .rank-item {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 1px;
        }
      }
    }

    .hand-matrix-items-group {
      width: 92%;
      height: 1030px;

      .matrix-item {
        width: 24%;
      }
    }
  }
}

@media (max-width: 1130px) {
  .runouts-explorer-content {
    .option-btn {
      width: 70px !important;
      padding-left: 4px;
      padding-right: 4px;
    }

    .suited-btn {
      width: 36px !important;
    }
  }
}


