@import 'colors.scss';

div[aria-labelledby='notify-modal'] {
  z-index: 99999;
  .modal-dialog{
    min-width: 400px;
    max-width: 600px;
    margin-top: 280px;
  }
  .modal-content {
    background-color:#2A2A44;
    color: #fff;
    border-radius: 11px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.11);
    .notify-modal-header {
      font-weight: bold;
      padding: 15px;
      background-color: #383856;
      border-radius: 11px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;

      .close {
        color: #ffffff;
        opacity: unset;
        font-size: 26px !important;
        font-weight: lighter;
        &:hover {
          opacity: 0.75;
        }
      }
      .modal-title {
        font-size: 16px !important;
        font-weight: bold;
      }
      button.close {
        font-size: 16px;
        span {
          color: #fff;
          &.sr-only {
            display: none;
          }
        }
      }
    }
    .notify-modal-body {
      padding: 18px 15px !important;
    }
    .btn-primary {
      background: $primary-color ;
      border-color: $primary-color;
      padding: 10px;
      font-size: 16px;
      text-align: center;
      border-radius: 7px;
      max-width: 150px;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background: $primary-color;
      }
      &:focus {
        background: $primary-color;
      }
    }
  }
}

@media (max-width: 768px) {
  div[aria-labelledby='notify-modal'] {
    z-index: 99999;
    .modal-dialog{
      min-width: unset;
    }
  }
}