.fetching-div {
  $image-height: 440px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100000;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.2s ease, display 0.2s ease;
  animation: fadeIn 0.5s ease;
  &.hide {
    opacity: 0;
    display: none;
  }
  .fetching-overlay {
    background-color: rgba(46, 46, 62, 0.8);
    height: inherit;
    width: inherit;
    position: absolute;

    .cancel-button {
      font-weight: bold;
      color: #4faeff;
      font-size: 35px;
      position: absolute;
      right: 10px;
      top: 5px;

      &:hover {
        color: #3d64f8;
        cursor: pointer;
      }
    }
  }
  .fetching-image {
    width: 100%;
    max-width: 700px;
    position: absolute;
    height: $image-height;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-54%);
    z-index: 100001;
    .image-overlay{
      width: 100%;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      overflow: hidden;
      animation-name: overlay-animate, full-filled;
      animation-duration: 4s, 2s;
      animation-delay: 0.1s, 4s;
      animation-direction: forwards, forwards;
      animation-timing-function: ease, ease;
      animation-fill-mode: forwards, forwards;
      animation-iteration-count: 1, infinite;
      transition: height 0.2s ease;
      z-index: 100003;
      img {
        height: $image-height;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }

      &.odin-logo-animation-disabled {
        animation-name: none, full-filled;
        animation-duration: 2.5s;
        animation-delay: 10s;
        height: 100%;
      }
    }
    .image {
      background-image: url('../../../images/odin-logo-outline.svg');
      background-size: contain;
      width: 100%;
      height: $image-height;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 100002;
      position: absolute;
      top: 0;
      left: 0;
    }

    .loader-progress-bar {
      border: 2px solid #4FAEFF;
      height: 12px;
      width: 287px;
      position: absolute;
      bottom: -24px;
      left: 50%;
      transform: translateX(-50%);

      .progressing {
        height: 100%;
        width: 0;
        background-color: #4FAEFF;
        animation-name: progress-bar-animate;
        animation-duration: 10s;
        animation-delay: 0.1s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
      }
    }

    .loader-message {
      animation-name: show-animation;
      animation-delay: 10.1s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      visibility: hidden;
      position: absolute;
      bottom: -69px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1em;
      color: rgb(178, 230, 236);
      text-shadow: 0px 0px 0.2em #5EE4F6, 0px 0px 0.4em #5EE4F6, 0px 0px 0.6em #537EFF, 0px 0px 0.8em #537EFF;
    }

    @keyframes show-animation {
      to { visibility: visible; }
    }
  }
}
