@import 'colors.scss';

.range-explorer, .dual-range {
  .decisions {
    background: #4c4c69;
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
  
    .icon{
      width: 10px;
      height: 10px;
      margin: 0 2px;
    }
  
    .decision-arrow {
      background-image: url('../../../../../images/decision-arrow.svg');
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
