.custom-select-options {
  &:not(:last-child) {
    padding-right: 12px;
  }

  .disabled {
    opacity: 0.5;
  }
}
.stack-select {
  .custom-select-options {
    padding-right: 8px;
  }
}

.red {
  background-color: #df4154;
}

.deepblue {
  background-color: #383958;
}

.green {
  background-color: #2AD699;
}


