div[aria-labelledby='subscribe-now-popup'] {
  z-index: 100000;


  .modal-dialog {
    width: 450px;
    height: 188px;
    background: linear-gradient(217.96deg, #3D93F8 1.67%, #3D64F8 79.84%);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.211765);
    border-radius: 9px;
    position: fixed;
    top: calc(50% - 42px);
    left: 50%;
    transform: translate(-50%, -50%) !important;
  }

  .btn-primary {
    padding: 6px 12px;
    border-radius: 6px;
  }

  .modal-content {
    background: linear-gradient(217.96deg, #3D93F8 1.67%, #3D64F8 79.84%);
    border: none;
    border-radius: 9px;

    .close {
      color: #FFFFFF;
      font-size: 30px;
      font-weight: 100;
      opacity: 1 !important;
      padding: 14px;

      &:hover {
        opacity: 0.7 !important;
      }
    }

    .modal-header {
      border: none;
      padding-top: 10px;
      padding-bottom: 0px;
    }

    .modal-body {
      padding: 10px 0 10px 0;
      text-align: center;
      font-size: 24px;
      color: #FFFFFF;
    }

    .modal-footer {
      border: none;

      .subscribe-btn {
        width: 172px;
        height: 50px;
        color: #000000;
        font-weight: bold;
        margin: 0 auto;
        background: #FFFFFF !important;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25098);
        border-radius: 8px;
      }
    }
  }
}
