@import 'size_variables.scss';
@import 'colors.scss';

.subscription-table-container{
  max-width: $app-container-max-width;
  border-radius: 11px;
  color: #fff;
  box-sizing: border-box;
  .header{
    height: 60px;
    background-color:#383856;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    height: 52px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing:1px;
  }
  .form-search{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #696982;
    margin-top: 25px;
    margin-bottom: 42px;
    .search-input{
      background-color:#383856;
      width: 36%;
      min-width: 300px;
      max-width: 500px;
      border-radius: 7px;
      margin-left: 20px;

      input{
        flex: 1 0 1;
        background-color:#383856;
        // background-color:#fff;
        outline: none;
        border: none;
        color: #fff;
      }
    }
  }
  .content-body{
    .table-container{
      min-height: 50px;
      height: 100%;
      .subscription-table{
        color: #fff;
        thead{
          border: none;
          tr{
            background-color:#383856;
            cursor: pointer;
            th:hover{
              background-color: $selected-background-color;
            }
            th:first-child{
              border-top-left-radius: 11px !important;
            }
            th:last-child{
              border-top-right-radius: 11px !important;
            }
            th.active{
              background-color:$selected-background-color;
              position: relative;
              padding: 0 12px;
              &.sorted-asc::after{
                content: "";
                border-bottom: 6px solid $deck-darker-color;
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 5%;
              }
              &.sorted-desc::after{
                content: "";
                right: 5%;
                border-top: 6px solid $darker-primary-color;
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
        tr td, tr th {
          border-right: 1px solid #4c4c6c;
          height: 54px;
        }
        tr td:last-child, tr th:last-child {
          border-right: none;
        }
        thead tr th:last-child, tbody tr td:last-child  {
          border: none;
        }
        tbody tr:nth-child(2n + 1){
          background-color: #2A2A44;
        }  
        tbody tr:nth-child(2n + 2){
          background-color:#383856;
        }
        tbody tr td{
          align-items: center;
          &.ip-history-btn {
            width: 110px;
            text-align: right;
          }
          .cbx {
            margin-bottom: 0px;
            span:first-child {
              width: 20px;
              height: 20px;
              background: #202039;
              svg {
                top: 5px;
                left: 4px;
              }
            }
          }
        }
      }
    }
    .pagination {
      margin-top: 1rem;
      margin-bottom: 0;
      color: #fff;
      font-size: 18px;
      width: 100%;
      font-weight: bold;
      justify-content: center;
      text-align: center;
      .page-item{
        margin: 0 2px;

        &:focus {
          outline: none !important;
        }
        a{
          background-color: $primary-color;
          padding: 8px 14px;
          display: block !important;
          width: 100% !important;
          &:focus {
            outline: none !important;
          }
        }
        &.page-previous{
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          margin: 0 3px;
        }
        &.page-next{
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          margin: 0 3px;
        }

        &.active a {
          background-color: $deck-darker-color;
        }
      }

    }
  }
}