@import 'colors.scss';
@import "size_variables.scss";

.notes-popup-container{
  width: 100%;
  max-width: $app-container-max-width;
  background-color: rgba(26, 26, 29, 0.6);
  top: 0;
  left: 50%;
  height: 100%;
  position: fixed;
  z-index: 100001;
  display: none;
  overflow: auto;
  transform: translateX(-50%);
  &.show {
    display: block;
  }

  .note-popup{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999999;
    background-color: $page-background-color;
    width: $app-view-port-width;
    max-width: $app-content-max-width;
    border-radius: 11px;
    top: 20px;
    margin: 0 auto;
    color: #fff;
    box-sizing: border-box;
    margin-bottom: 20px;
    &.no-scroll{
      // overflow: hidden;
      // height: 100vh;
    }
    &.fadeIn{
      animation: fadeIn 0.25s ease-in-out;
    }
    &.center{
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    .title{
      border-top-left-radius: 11px;
      border-top-right-radius: 11px;
      font-weight: bold;
      background-color:#3E3E5D;
      height: 52px;
      padding-left: 20px;
    }
    .tab-menu{
      font-weight: 500;
      font-size: 16px;
      color: #696982;
      margin-left: 40px;
      .btn-dark-blue{
        padding: 6px 12px;
        background-color: #3E3E5D;
        border: #3E3E5D;
        &:focus{
          background-color: #3c3c62 !important;
          border: 1px solid #34348a !important;
          box-shadow: none !important;
        }
        &.actived{
          border: 1px solid #34348a;
          background-color: #3D64F8;
        }
      }
      .view-button {
        padding: 6px 0;
        background-color: #2A2A44;
        color: white;
        font-weight: bold;
        font-size: 14px;
        border-radius: 6px;
        width: 126px;

        &.actived{
          border: 1px solid $selected-border-color;
          background-color: $selected-background-color;
        }
      }
    }
    .popup-content{
      padding: 0 20px 20px 20px;

      .big-card {
        border-radius: 4px;
      }
    }
    .btn-close{
      position: absolute;
      top: 4px;
      right: 10px;
      font-size: 28px;
      color: #2A2A44;
      cursor: pointer;
    }
    .select-card-container{
      position: absolute;
      z-index: 9999999;
      max-width: 780px;
      width: 50%;
      // top: 30%;
      // left: 28%;
      // width: 100%;
      // height: 100%;
      // transform: translate(-50%,-50%);
      .select-card {
        background-color: #383856;
        border-radius: 11px;
        width: 840px;
        .head {
          padding: 20px;
          border-bottom: 1px solid #4C4C6C;
          margin-bottom: 20px;
        }
        .body {
          padding: 0 20px;

          .small-card {
            cursor: pointer;
          }
        }
        .disabled {
          cursor: not-allowed;
        }
      }
    }
  }
  .popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    // background-color: rgba(26, 26, 29, 0.6);
    width: 100%;
    height: 100%;
    z-index: 999999;
  }
  .bg-dark-blue{
    background-color: #3E3E5D !important;
    outline: none;
    border-color: #3E3E5D;
    color: white;
    &:focus{
      color: inherit;
      background-color: #3E3E5D !important;
      border-color: #3E3E5D;
    }
  }
  .seperate{
    margin: 40px 0 25px 0;
    height: 2px;
    background-color: $line-divider-color;
  }
  input{
    height: 60px;
  }
  .row-second{
    margin-top: 32px;
  }
  .select-card{
    position: absolute;
  }
  .first-row{
    margin-bottom: 32px;
    &.have-title{
      margin-bottom: 46px;
    }
  }
  .note {
    margin-bottom: 32px;
  }

  textarea {
    resize: none;
  }

  .clear-icon {
    z-index: 99;
    font-size: 28px;
    color: #E23752;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;

    &:hover {
      color: #951024;
    }
  }

  // ::-webkit-scrollbar {
  //   width: 0px;
  //   background: transparent;
  // }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
