@import 'colors.scss';

.tree-building-container{
  background-color: #2A2A44;
  border-radius: 11px;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  .header{
    height: 60px;
    background-color:#383856;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
  }
  .content-body{
    padding: 2rem;
    .top-section{
      .left-col{
        $max-width: 250px;
        .select-board{
          background-color:#383856;
          width: 100%;
          max-width: $max-width;
          height: 44px;
          border-radius: 7px;
          padding: 18px 12px;
          .small-card{
            margin-right: 10px;
            height: 30px;
            margin-bottom: 0;
          }
        }
        .select-range{
          margin-top: 30px;
          width: 100%;
          max-width: $max-width;
          .range-matrix {
            width: 100%;
            max-width: 140px;
            .matrix-element {
              height: 5.4px;
              border-radius: 2px;
              margin: 0.8px;
              width: 6.0%;
            }
          }
          .range-oop{
            .title {
              text-align: center;
              width: 100px;
            }
          }
          .range-ip{
            text-align: right;
            .title {
              text-align: center;
              width: 100px;
              float: right;
            }
          }
          .icon{
            height: 100px;
            width: 100px;
            background-color: #3E3E5D;
            border-radius: 7px;
          }
          .title{
            text-align: center;
            font-size: 1rem;
          }
        }
        .click-range-icon-text {
          font-size: 14px;
        }
      }
      .right-col{
        .btn-copy-clipboard{
          margin-bottom: 30px;
          min-width: 269px;
        }
        .col-info{
          display: inline-block;
          width: auto;
          padding-left: 6px;
          padding-right: 6px;
        }
        .col-info-4{
          max-width: 40%;
        }
        .col-info-2{
          max-width: 20%;

        }
        .separate-line-div{
          display: inline-flex;
          justify-content: center;
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
    .bottom-section{
      .params-option{
        .title{
          margin-bottom: 20px;
        }
        $padding: 50px;
        .seperate-collumn:last-child {
          border-right: none;
        }
        .flop-option{
          justify-content: flex-start;
          padding-right: 40px;
        }
        .turn-option{
          justify-content: center;
          padding-left: 40px;
          padding-right: 40px;
        }
        .river-option{
          padding-left: 40px;
          justify-content: flex-end;
        }
      }
      .option-ip{
        margin-top: 40px;
        justify-content: center;
      }
      .option-oop{
        justify-content: center;
        margin-top: 50px;
      }
      p{
        margin-bottom: 10px;
      }
      .sizes-content{
        clear: both;
        white-space: nowrap;
      }
      .option-info{
        width: fit-content;
      }
    }
  }
}
.seperate{
  background-color: #4C4C6C;
  height: 2px;
  &.collumn {
    height: 50px;
    width: 2px;
  }
}
.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.seperate-collumn:nth-child(2){
  border-left: 1px solid #4C4C6C;
  border-right: 1px solid #4C4C6C;
}
.padding-left-40{
  padding-left: 40px !important;
}
.padding-right-40{
  padding-right: 40px !important;
}

@media (max-width: 768px) {
  .option-ip{
    justify-content: flex-start !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .option-oop{
    justify-content: flex-start !important;
    margin-left: unset !important;
    margin-right: unset !important;
  }
  .flop-option{
    justify-content: flex-start !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .turn-option{
    justify-content: center !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-right: none !important;
  }
  .river-option{
    margin-top: 20px;
    justify-content: flex-start !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}