@import 'size_variables.scss';
@import 'colors.scss';

.admin-portal-container{
  width: $app-view-port-width;
  margin: 100px auto;
  max-width: $app-container-max-width;
  color: #ffffff;
  padding: 0 40px;
  h1.title {
    padding: 50px 0;
    font-size: 52px;
  }
  .page-list{
    list-style: none;
    padding-left: 0;
    background-color: $page-background-color;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.0619537);
    border-radius: 10px;
    padding: 20px 45px 30px;
    margin-right: 50px;
    li {
      font-size: 24px;
      color: #8383A3;
      margin: 22px 0;
      cursor: pointer;
    }
    li.active {
      color: #ffffff;
    }
  }
  .admin-portal-content {
    background-color: $page-background-color;
    color: #ffffff;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.0619537);
    border-radius: 10px;
  }


  @media (min-width: 1024px) and (max-width: 1240px), (max-width: 1366px), (max-width: 1680px) {
    .page-list{
      padding: 5px 20px 20px;
      margin-right: 20px;
      li {
        font-size: 20px;
        margin: 15px 0;
      }
    }
  }
}
