@import 'colors.scss';

.header-left-section {
  position: absolute;
  z-index: 1;
  margin-left: 10px;

  &.m-left-100 {
    margin-left: 100px;
  }

  .current-decision {
    margin-right: 10px;
    flex-grow: 1;
    flex-shrink: 0;
  }

  .decisions {
    margin-right: 10px !important;
    min-height: 40px;
  }

  .btn-group-vertical {
    button{
      height: 40px;
      border: none !important;

      &:focus {
        box-shadow: none;
      }
    }

    .small-flop-btn {
      height: 24px;
      font-size: 13px;
      padding-top: 2px;
      padding-bottom: 2px;
    }

    .call-btn, .check-btn, .c-btn {
      background-color: #38BE8F;
      border-color: #38BE8F;
      &:hover {
        background-color: #2AD699;
      }
    }
    .bet-btn, .b-btn {
      background-color: #7437C5;
      border-color: #7437C5;
      &:hover {
        background-color: #7D40CF;
      }
    }
  }
  .show > .dropdown-toggle {
    background-color: #bd2130;
  }
  .dropdown-menu {
    background-color: $button-background-color;
    border-radius: 7px;

    .dropdown-item:hover {
      background-color: #373752;
    }

    .dropdown-divider {
      border-top: 0.5px solid #979797;
    }
  }

  .btn-red {
    background: #E23752;
    border-color: #E23752;
  }

  .btn-new-sim {
    height: 40px;
    min-width: 110px;
    
    &:focus {
      box-shadow: 0 0 0 2px $selected-border-color !important;
    }
  }

  .btn-simple-new-sim {
    height: 40px;
    min-width: 110px;
    padding: 0;
    &:focus {
      box-shadow: 0 0 0 2px $selected-border-color !important;
    }
    .link-direct {
      display: inline-flex;
      height: 38px;
      justify-content: center;
      align-items: center;
      min-width: 110px;
    }
  }
}

.root-node {
  position: absolute;
  margin: 50px 0 0 10px;
  .explanation {
    .title-point-up {
      line-height: 20px;
      max-width: 200px;
    }

    .handle-point-up {
      transform: rotate(90deg);
      margin: 10px 0 0 15px;
    }
    color: #b2e6ec;
    text-shadow: 0px 0px 2px #5ee4f6, 0px 0px 2px #5ee4f6, 0px 0px 4px #537eff, 0px 0px 6px #537eff;
  }
}