@import 'colors.scss';

.decisions {
  // background: $button-background-color;
  // border-radius: 7px;
  // padding-left: 5px;
  // padding-right: 5px;
  // cursor: pointer;

  .decision {
    background: $button-background-color;
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    min-height: 40px;
    align-items: center;
    display: flex !important;
    margin-bottom: 5px;
    &:hover {
      background-color: #1E1E31;
    }
    &.oop {
      background: #5d5d5f;
    }
    &.b-shadow {
      box-shadow: 0 0 10px $position-circle-shadow-color;
    }
    &.root:hover {
      background-color: $button-background-color;
      cursor: default;
    }
  }

  .arrow {
    height: 40px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }

  .icon{
    width: 10px;
    height: 10px;
    margin: 0 2px;
  }

  .decision-arrow {
    width: 15px;
    height: 15px;
  }
}
