@import 'colors.scss';
@import "size_variables.scss";

.my-sim-container{
  .btn-primary {
    padding: 6px 12px;
  }

  background-color: $page-background-color;
  width: 90vw;
  max-width: $app-container-max-width;
  border-radius: 11px;
  top: 100px;
  margin: 30px auto 0;
  color: #fff;
  box-sizing: border-box;
  .header{
    height: 60px;
    background-color:#383856;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    height: 52px;
    padding-left: 20px;
    font-weight: bold;
  }
  .form-search{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #696982;
    margin-top: 25px;
    margin-bottom: 42px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    .search-input{
      background-color:#383856;
      width: 36%;
      min-width: 300px;
      max-width: 500px;
      border-radius: 7px;
      margin-left: 20px;

      input{
        flex: 1 0 1;
        background-color:#383856;
        // background-color:#fff;
        outline: none;
        border: none;
        color: #fff;
      }
    }
    button{
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
    }
    .delete-btn{
      height: unset;
      min-width: 120px;
      border-radius: 8px;
      background-color: #e24252;
      &:hover{
        background-color: #e2172c;
      }
    }
    .action-btn-group{
      min-width: 210px;
      display: flex;
      justify-content: space-between;
      .confirm-btn, .cancel-btn{
        height: 92%;
        min-width: 100px;
        font-size: 16px;
        border-radius: 10px;
      }
    }
  }
  .content-body{
    padding: 0 20px 2rem 20px;
    .table-container{
      min-height: 400px;
      height: 100%;
      .my-sim-table{
        color: #fff;
        label.cbx{
          margin-bottom: 0;
          span:first-child{
            background: #797995;
          }
        }
        thead{
          border: none;
          tr{
            background-color:#383856;
            cursor: pointer;
            th{
              position: relative;
            }
            th:hover{
              background-color: $selected-background-color;
            }
            th:last-child{
              cursor:default;
            }
            th:first-child{
              border-top-left-radius: 11px !important;
            }
            th:nth-last-child(2){
              border-top-right-radius: 11px !important;
            }
            th.active{
              background-color:$selected-background-color;
              position: relative;
              padding: 0 12px;
              &.sorted-asc::after{
                content: "";
                border-bottom: 6px solid $deck-darker-color;
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 5%;
              }
              &.sorted-desc::after{
                content: "";
                right: 5%;
                border-top: 6px solid $darker-primary-color;
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
        tr td, tr th {
          border-right: 1px solid #4c4c6c;
          height: 54px;
        }
        tr td:nth-last-child(2), tr th:nth-last-child(2) {
          border-right: none;
        }
        thead tr th:last-child, tbody tr td:last-child  {
          background-color: $page-background-color !important;
          border: none;
          .btn-primary{
            color: #fff;
          }
        }
        tbody tr:nth-child(2n + 1){
          background-color: #2A2A44;
        }  
        tbody tr:nth-child(2n + 2){
          background-color:#383856;
        }
        tbody tr td{
          align-items: center;
          position: relative;
          .small-card  {
            height: 36px;
            width: 42px;
            margin-bottom: 0;
            &:not(:last-child) {
              margin-right: 10px;
            }
            p {
              font-size: 18px;
              line-height: 36px;
              margin-bottom: 0;
              height: 100%;
            }
          }
          &.open-sim-btn {
            width: 110px;
            text-align: right;
          }
        }
      }
    }
    .pagination {
      margin-top: 1rem;
      margin-bottom: 0;
      color: #fff;
      font-size: 18px;
      width: 100%;
      font-weight: bold;
      justify-content: center;
      text-align: center;
      .page-item{
        margin: 0 2px;

        &:focus {
          outline: none !important;
        }

        a{
          background-color: $primary-color;
          padding: 8px 14px;
          display: block !important;
          width: 100% !important;
          &:focus {
            outline: none !important;
          }
        }
        &.page-previous{
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          margin: 0 3px;
        }
        &.page-next{
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          margin: 0 3px;
        }

        &.active a {
          background-color: $deck-darker-color;
        }
      }

    }
  }
  .no-select{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }

  .playing-card {
    cursor: unset;
  }
}

@media (max-width: 480px){
  .search-input{
    min-width: unset;
    max-width: unset;
    width: 90% !important;
  }
}

@media (min-width: 768px) and (max-width: 920px){
  .my-sim-container{
    .content-body {
      .table-container{
        .my-sim-table{
          font-size: 14px;
          tbody tr td{
            .small-card  {
              height: 28px;
              width: 34px;
              margin-right: 6px;
              &:not(:last-child) {
                margin-right: 6px;
              }
              p {
                font-size: 16px;
                line-height: 32px;
                .icon {
                  width: 13px;
                  height: 13px;
                }
              }
            }
            &.open-sim-btn{
              width: 100px;
              .btn-primary{
                font-size: 14px !important;
                padding: 6px 12px !important;
              }
            }
          }
        }
      }
      .pagination {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 768px){
  .my-sim-container{
    .content-body {
      .table-container{
        .my-sim-table{
          font-size: 12px;
          tbody tr td{
            .small-card  {
              height: 24px;
              width: 30px;
              margin-right: 4px;
              &:not(:last-child) {
                margin-right: 4px;
              }
              p {
                font-size: 14px;
                line-height: 28px;
                .icon {
                  width: 12px;
                  height: 12px;
                }
              }
            }
            &.open-sim-btn{
              width: 80px;
              .btn-primary{
                font-size: 12px !important;
                padding:4px 8px !important;
              }
            }
          }
        }
      }
      .pagination {
        font-size: 14px;
      }
    }
  }
}
