@import 'size_variables.scss';
@import 'colors.scss';

.user-profiles-view-container{
  max-width: $app-container-max-width;
  border-radius: 11px;
  color: #fff;
  box-sizing: border-box;
  .header{
    height: 60px;
    background-color:#383856;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    height: 52px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing:1px;
  }
  .form-search{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #696982;
    margin-top: 25px;
    margin-bottom: 42px;
    .search-input{
      background-color:#383856;
      width: 36%;
      min-width: 300px;
      max-width: 500px;
      border-radius: 7px;
      margin-left: 20px;

      input{
        flex: 1 0 1;
        background-color:#383856;
        // background-color:#fff;
        outline: none;
        border: none;
        color: #fff;
      }
    }
  }
  .content-body{
    padding: 0 20px 2rem 20px;
    .table-container{
      min-height: 300px;
      height: 100%;
      .user-profiles-table{
        color: #fff;
        thead{
          border: none;
          tr{
            background-color:#383856;
            cursor: pointer;
            th:hover{
              background-color: $selected-background-color;
            }
            th:last-child{
              cursor:default;
            }
            th:first-child{
              border-top-left-radius: 11px !important;
            }
            th:last-child{
              border-top-right-radius: 11px !important;
            }
            th.active{
              background-color:$selected-background-color;
              position: relative;
              padding-right: 10px;
              &.sorted-asc::after{
                content: "";
                border-bottom: 6px solid $deck-darker-color;
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 5%;
              }
              &.sorted-desc::after{
                content: "";
                right: 5%;
                border-top: 6px solid $darker-primary-color;
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
        tr td, tr th {
          border-right: 1px solid #4c4c6c;
          height: 54px;
        }
        tr td:nth-last-child(1), tr th:nth-last-child(1) {
          border-right: none;
        }
        tbody tr:nth-child(2n + 1){
          background-color: #2A2A44;
        }
        tbody tr:nth-child(2n + 2){
          background-color: #383856;
        }
        tbody tr td:nth-child(2) {
          width: 370px;
        }
        tbody tr td:nth-child(3) {
          width: 130px;
        }
        tbody tr td:nth-child(5) {
          padding: 0 5px;
        }
        tbody tr td:nth-child(8) {
          width: 280px;
        }
        tbody tr td.align-email {
          text-align: left;
          padding-left: 20px;
        }
        tbody tr td {
          .cbx {
            margin-bottom: 0px;
            span:first-child {
              width: 20px;
              height: 20px;
              background: #202039;
              svg {
                top: 5px;
                left: 4px;
              }
            }
          }
          .dropdown-toggle {
            &:after {
              position: absolute;
              right: 12px;
            }
          }
          .role-btn, .access-btn, .affiliate-btn {
            min-width: 125px;
            .role-title, .access-title, .affiliate-title {
              background-color: #3e3e5d;
              border: none;
              &:hover, &:active, &:focus {
                background-color: #3e3e5d !important;
              }

              .role-truncated {
                margin: 0 15px 0 10px;
              }
            }

            .roles-menu-dropdown, .affiliate-menu-dropdown, .access-menu-dropdown {
              background-color: #3e3e5d !important;
              min-width: 8rem;
              .roles-dropdown, .affiliate-dropdown, .access-dropdown {
                &:hover {
                  background-color: #373752 !important;
                  border-radius: 4px !important;
                }
              }
            }
          }

          .affiliate-btn {
            .affiliate-title {
              padding: 0;
              &.dropdown-toggle:after { right: 5px; }
              .affiliate-truncated { margin: 0 15px 0 7px; }
            }

            .affiliate-menu-dropdown {
              min-width: 110px;
              button { padding-left: 13px; }
            }
          }

          .access-btn {
            min-width: 110px;
            min-height: 40px;
            .access-title {
              padding: 0 0 0 5px;
              &.dropdown-toggle:after { right: 5px; }
              .access-display { margin: 0 0 0 6px; }
            }

            .access-menu-dropdown {
              min-width: 110px;
              button { padding-left: 13px; }
            }
          }

          .btn-actions {
            float: left;
            button {
              font-size: 16px;
              text-align: center;
              border-radius: 7px !important;
              cursor: pointer;
            }
            .btn-delete {
              background: #E23752 !important;
              border-color: #E23752 !important;
            }
          }
        }
        tbody tr td.ip-history-btn {
          button {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
    .pagination {
      margin-top: 1rem;
      margin-bottom: 0;
      color: #fff;
      font-size: 18px;
      width: 100%;
      font-weight: bold;
      justify-content: center;
      text-align: center;
      .page-item{
        margin: 0 2px;

        &:focus {
          outline: none !important;
        }

        a{
          background-color: $primary-color;
          padding: 8px 14px;
          display: block !important;
          width: 100% !important;
          &:focus {
            outline: none !important;
          }
        }
        &.page-previous{
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          margin: 0 3px;
        }
        &.page-next{
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          margin: 0 3px;
        }

        &.active a {
          background-color: $deck-darker-color;
        }
      }

    }
  }
}

@media (min-width: 1024px) and (max-width: 1240px) {
  .user-profiles-view-container{
    .content-body{
      .table-container{
        .user-profiles-table{
          tbody tr td:nth-child(2) {
            width: 250px;
          }
          tbody tr td:nth-child(3) {
            width: 100px;
          }
          tbody tr td:nth-child(6) {
            width: 180px;
          }
        }
      }
    }
  }
}



@media (max-width: 1280px), (max-width: 1366px), (max-width: 1440px) {
  .user-profiles-view-container{
    .content-body{
      .table-container{
        .user-profiles-table{
          thead {
            tbody tr td:nth-child(4) {
              width: 105px;
            }
          }
          tbody tr td:nth-child(2) {
            width: 200px;
          }
          tbody tr td:nth-child(5) {
            padding: 0 2px;
          }
          tbody tr td:nth-child(6) {
            width: 130px !important;
          }
          tbody tr td:nth-child(8) {
            width: 260px !important;
          }
          tbody tr td {
            .dropdown-toggle {
              &:after {
                position: absolute;
                right: 12px;
              }
            }
            .role-btn {
              min-width: 90px;
              .role-title {
                padding-left: 2px;
                .role-truncated {
                  margin: 0px !important;
                }
              }
            }
          }
          tbody tr td .dropdown-toggle:after {
            right: 5px;
          }
          tbody tr td.align-email {
            padding-left: 5px;
          }
          tbody tr td {
            .btn-actions {
              display: flex;
              button {
                padding: 5px !important;
                min-height: 36px;
                max-height: 54px;
              }
            }
            &.ip-history-btn {
              width: 120px !important;
              button {
                padding: 0 2px;
                min-height: 36px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .user-profiles-view-container{
    .content-body{
      .table-container{
        .user-profiles-table{
          tbody tr td {
            .btn-actions {
              display: flex;
              button {
                padding: 0px !important;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1281px) and (max-width: 1360px) {
  .user-profiles-view-container{
    .content-body{
      .table-container{
        .user-profiles-table{
          tbody tr td {
            .btn-actions {
              display: flex;
              button {
                padding: 2px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1240px) and (max-width: 1680px) {
  .user-profiles-view-container{
    .content-body{
      .table-container{
        .user-profiles-table{
          tbody tr td:nth-child(5) {
            width: 120px;
          }
          tbody tr td:nth-child(6) {
            width: 120px;
          }
          tbody tr td:nth-child(8) {
            width: 290px;
          }

          tbody tr td {
            .btn-actions {
              button {
                padding: 10px;
              }
            }
            &.ip-history-btn {
              width: 125px;
              button { max-height: 45px; }
            }
          }
        }
      }
    }
  }
}
