@import 'colors.scss';
@import "size_variables.scss";

.subscription-table-popup-container {
  width: 100%;
  max-width: $app-container-max-width;
  background-color: rgba(26, 26, 29, 0.6);
  top: 0;
  left: 50%;
  height: 100%;
  position: fixed;
  z-index: 11;
  display: none;
  overflow: auto;
  transform: translateX(-50%);
  &.show {
    display: block;
  }
  .subscription-table-popup {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 14;
    background-color: $page-background-color;
    width: $app-view-port-width;
    border-radius: 11px;
    top: 20px;
    margin: 0 auto;
    color: #fff;
    box-sizing: border-box;
    margin-bottom: 20px;
    &.confirm-view{
      max-width: 500px;
      .popup-content{
        padding-top: 10px;
        min-height: 160px;
        .confirm-full-access{
          p {
            font-size: 16px;
          }
        }
      }
    }
    &.ip-history-view{
      max-width: 800px;
      .ip-history-view-container{
        .header{
          height: 60px;
          background-color:#383856;
          border-top-left-radius: 11px;
          border-top-right-radius: 11px;
          height: 52px;
          padding-left: 20px;
          font-weight: bold;
          font-size: 18px;
          letter-spacing:1px;
        }
        .content-body{
            padding: 10px 20px 2rem 20px;
            .table-container{
              min-height: 300px;
              height: 100%;
              .ip-history-table{
                color: #fff;
                thead{
                  border: none;
                  tr{
                    background-color:#383856;
                    cursor: pointer;
                    th:hover{
                      background-color: $selected-background-color;
                    }
                    th:first-child{
                      border-top-left-radius: 11px !important;
                    }
                    th:last-child{
                      border-top-right-radius: 11px !important;
                    }
                  }
                }
                tr td, tr th {
                  border-right: 1px solid #4c4c6c;
                  height: 54px;
                }
                tr td:last-child, tr th:last-child {
                  border-right: none;
                }
                tbody tr:nth-child(2n + 1){
                  background-color: #2A2A44;
                }  
                tbody tr:nth-child(2n + 2){
                  background-color:#383856;
                }
                tbody tr td{
                  align-items: center;
                }
              }
            }
            .pagination {
              margin-top: 1rem;
              margin-bottom: 0;
              color: #fff;
              font-size: 18px;
              width: 100%;
              font-weight: bold;
              justify-content: center;
              text-align: center;
              .page-item{
                margin: 0 2px;
        
                &:focus {
                  outline: none !important;
                }
                a{
                  background-color: $primary-color;
                  padding: 8px 14px;
                  display: block !important;
                  width: 100% !important;
                  &:focus {
                    outline: none !important;
                  }
                }
                &.page-previous{
                  border-top-left-radius: 4px;
                  border-bottom-left-radius: 4px;
                  margin: 0 3px;
                }
                &.page-next{
                  border-top-right-radius: 4px;
                  border-bottom-right-radius: 4px;
                  margin: 0 3px;
                }
        
                &.active a {
                  background-color: $deck-darker-color;
                }
              }
        
            }
        }
      }
    }
    &.fadeIn{
      animation: fadeIn 0.25s ease-in-out;
    }
    &.center{
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    .btn-close{
      position: absolute;
      top: 4px;
      right: 10px;
      font-size: 28px;
      color: #2A2A44;
      cursor: pointer;
    }
    .popup-title{
      border-top-left-radius: 11px;
      border-top-right-radius: 11px;
      font-weight: bold;
      background-color:#3E3E5D;
      height: 52px;
      font-size: 18px;
      padding-left: 20px;
    }
    .popup-content{
      max-width: 500px;
      min-height: 300px;
      padding: 0 20px 0 20px;
      position: relative;
      .group-btn{
        position: absolute;
        bottom: 16px;
        width: 92%;

        .btn-primary {
          background: $primary-color ;
          border-color: $primary-color;
          padding: 10px;
          font-size: 16px;
          text-align: center;
          border-radius: 7px;
          cursor: pointer;
          &:hover {
            background: $primary-color;
          }
          &:focus {
            background: $primary-color;
          }
        }
      }
    }
  }
  .popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
