@import 'colors.scss';
.terms-conditions {
  background-color: $page-background-deep-color;
  position: relative;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  padding-bottom: 200px;
  .title{
    font-size: 42px;
    padding: 80px 0 40px;
  }

  .content-container {
    font-size: 20px;
    font-family: lato;

    .content {
      width: 60%;
      margin: auto;
      .header {
        font-size: 30px;
        margin: 30px 0;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1240px) {
  .terms-conditions {
    .title{
      font-size: 42px !important;
      padding: 40px 0 20px !important;
    }
  }
}
