@import 'colors.scss';

.sim-deck-section {
  margin-top: 168px;
  margin-bottom: 55px;
  .sim-deck {
    width: 100%;
    height: 330px;
    position: relative;
    .deck-container {
      max-width: 512px;
      margin: auto;
      height: 100%;
      border: 5px solid $border-and-bg-color-for-simdeck;
      background: $border-and-bg-color-for-simdeck;
      border-radius: 30%/45%;
      .deck {
        width: 100% !important;
        height: 100%;
        border: 3px solid $primary-color;
        border-radius: 30%/45%;
        background-image: radial-gradient(closest-side, $deck-color, $deck-darker-color);
        .current-turn-pot {
          // position: absolute;
          // top: calc(50% - 20px/2 - 108px);
          position: absolute;
          top: 40px;
          left: 50%;
        transform: translatex(-50%);
          height: 20px;
          font-weight: bold;
          font-size: 17px;
          line-height: 20px;
        }
        .community-cards {
          position: absolute;
          top: 44%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 320px;
          // margin-top: 5%;
          // margin-bottom: 5%;
          .card-on-sim-deck {
            width: 55px;
            height: 76px;
            border-radius: 5px;
            &.empty-card {
              background: #aaaaab;
              opacity: 0.2;
            }
          }
        }

        &.poker-code-user {
          .community-cards {
            top: 48%;
          }

          .coins {
            bottom: 92px;
          }

          .pot_main {
            bottom: 64px;
          }
        }

        .deck-info {
          display: block;
          padding: 8px 16px;
          border-radius: 1rem;
          position: absolute;
          top: -5%;
          left: 50%;
          transform: translatex(-50%);
          background: $border-and-bg-color-for-simdeck;
          border: 3px solid rgba(49, 49, 77, 0.186544);
          font-weight: 900;
          font-size: 15px;
          line-height: 18px;
          text-align: center;
          color: #31314D;
        }
        .pot_main {
          position: absolute;
          bottom: 80px;
          left: 50%;
          transform: translatex(-50%);
          background: $deck-darker-color;
          border-radius: 0.6rem;
          font-weight: bold;
          font-size: 15px;
          line-height: 20px;
          padding: 2px 24px;
        }

        .role-logo {
          position: absolute;
          top: 70px;
          left: 50%;
          transform: translatex(-50%);
        }

        .coins {
          position: absolute;
          bottom: 108px;
          left: 50%;
          transform: translatex(-50%);
        }
      }
    }
    .position-block{
      position: absolute;
      color: #FFFFFF;
      text-align: center;
      line-height: 29px;
      font-size: 20px;
      font-weight: bold;
      .position-point {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 75px;
        height: 74px;
        background: $page-background-deep-color;
        opacity: 0.5;
        border: 2px solid $border-and-bg-color-for-simdeck;
        border-radius: 50%;
        &.active {
          border: 4px solid $position-circle-border-color;
          box-shadow: 0px 0px 30px $position-circle-shadow-color;
        }
      }
      .chip-animation {
        position: absolute;
        .position-pot {
          margin-top: -6px;
        }
      }
      .selected-position {
        opacity: 1;
      }
      &.oop-position {
        left: 4%;
      }
      &.ip-position {
        right: 4%;
      }
      .total_eq_ev {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        line-height: 21px;
        min-height: 21px;
        color: $text-color;
      }
      .total_combos {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;
        min-width: 120px;
        margin-top: 4px;
        p {
          display: inline-block;
          margin-bottom: 0;
          margin-left: 4px;
        }
      }

      // .chip-animation {
      //   position: absolute;

      //   &.oop-chip-animation {
      //     top: 16px;
      //     right: -45px;
      //   }

      //   &.ip-chip-animation {
      //     top: 16px;
      //     left: -45px;
      //   }

      //   .position-pot {
      //     margin-top: -8px;
      //   }
      // }

      .position {
        // margin-top: 10px;
      }

      .score {
        min-height: 29px;
        margin-top: -6px;
        font-size: 15px;
      }
    }

    .mtt {
      .b {
        right: -10px;
        bottom: 16px;

        .total_eq_ev {
          bottom: -33px;
        }
        .total_combos {
          bottom: -33px;
        }
        .dealer-button {
          bottom: 75px;
          right: 58px;
        }
      }
      .sb {
        right: 118px;
        bottom: -40px;

        .total_eq_ev {
          bottom: -33px;
        }
        .total_combos {
          bottom: -33px;
        }
      }
      .bb {
        left: 118px;
        bottom: -40px;

        .total_eq_ev {
          bottom: -33px;
        }
        .total_combos {
          bottom: -33px;
        }
      }
      .b1 {
        right: -42px;
        top: 106px;

        .total_eq_ev {
          bottom: -33px;
          right: 36px;
        }
        .total_combos {
          bottom: -30px;
          right: 36px;
        }
      }
      .b2 {
        right: 14px;
        top: -12px;

        .total_eq_ev {
          top: 25px;
          left: 115px;
        }
        .total_combos {
          top: -30px;
        }
      }
      .b3 {
        left: 14px;
        top: -12px;

        .total_eq_ev {
          top: 25px;
          right: 60px;
          left: unset;
        }
        .total_combos {
          top: -30px;
        }
      }
      .b4 {
        left: -42px;
        top: 106px;

        .total_eq_ev {
          bottom: -33px;
          left: 6px;
        }
        .total_combos {
          bottom: -30px;
          left: 28px;
        }
      }
      .b5 {
        left: -10px;
        bottom: 16px;

        .total_eq_ev {
          bottom: -33px;
        }
        .total_combos {
          bottom: -33px;
        }
      }

      .sb .chip-animation {
        top: -46px;
        right: 20px;
      }
      .bb .chip-animation {
        top: -46px;
        left: 20px;
      }
      .b .chip-animation {
        top: -1px;
        left: -46px;
      }
      .b1 .chip-animation {
        top: 16px;
        right: 78px;
      }
      .b2 .chip-animation {
        bottom: -18px;
        left: -44px;
      }
      .b3 .chip-animation {
        bottom: -18px;
        right: -44px;
      }
      .b4 .chip-animation {
        top: 16px;
        left: 78px;
      }
      .b5 .chip-animation {
        top: -1px;
        right: -46px;
      }
    }

    .cash {
      .b {
        right: -25px;
        bottom: 38px;

        .total_eq_ev {
          bottom: -33px;
        }
        .total_combos {
          bottom: -30px;
          left: 60%;
        }
        .dealer-button {
          bottom: 76px;
          right: 62px;
        }
        &.hu {
          right: -42px;
          top: 106px;
          .dealer-button {
            bottom: 164px;
          }
          .total_eq_ev {
            bottom: 0px;
            top: 75px;
            left: 100%;
          }
          .total_combos {
            top: 75px;
            left: 90%;
            p { margin-bottom: 0px; }
          }
        }
      }
      .sb {
        right: 118px;
        bottom: -40px;

        .total_eq_ev {
          bottom: -33px;
        }
        .total_combos {
          bottom: -30px;
        }
      }
      .bb {
        left: 118px;
        bottom: -40px;

        .total_eq_ev {
          bottom: -33px;
        }
        .total_combos {
          bottom: -30px;
        }
        &.hu {
          left: -42px;
          top: 106px;
          .chip-animation {
            top: 10px;
            left: 90px;
          }
          .total_eq_ev {
            bottom: 0px;
            top: 75px;
            right: -160%;
            left: 0;
          }
          .total_combos {
            top: 75px;
            bottom: 0px;
            left: 10%;
            p { margin-bottom: 0px; }
          }
        }
      }
      .b1 {
        right: -28px;
        top: 40px;

        .total_eq_ev {
          top: -36px;
          left: 38px;
        }
        .total_combos {
          top: -33px;
          left: 48px;
        }
      }
      .b2 {
        left: -28px;
        top: 40px;

        .total_eq_ev {
          top: -36px;
          left: 38px;
        }
        .total_combos {
          top: -33px;
          left: 28px;
        }
      }
      .b3 {
        left: -25px;
        bottom: 38px;

        .total_eq_ev {
          bottom: -33px;
        }
        .total_combos {
          bottom: -30px;
          left: 40%;
        }
      }

      .sb .chip-animation {
        top: -46px;
        right: 20px;
      }
      .bb .chip-animation {
        top: -46px;
        left: 20px;
      }
      .b .chip-animation {
        top: 10px;
        left: -45px;
      }
      .b1 .chip-animation {
        top: 22px;
        right: 83px;
      }
      .b2 .chip-animation {
        top: 22px;
        left: 83px;
      }
      .b3 .chip-animation {
        top: 10px;
        right: -48px;
      }
    }

    .dealer-button {
      position: absolute;
    }
  }

  .playing-card {
    cursor: unset;
  }

  .cursor-pointer {
    cursor: pointer;
  }
  .visibility{
    visibility: hidden;
  }
}

@media (min-width: 992px) and (max-width: 1050px) {
  .sim-deck-section {
    .sim-deck {
      .deck-container {
        width: 90%;
      }
      .mtt {
        .b {
          bottom: 22px;
        }
        .sb {
          right: 94px;
        }
        .bb {
          left: 94px;
        }
        .b1 {
          top: 100px;
        }
        .b2 {
          right: 14px;
          top: -12px;
        }
        .b3 {
          left: 14px;
          top: -12px;
        }
        .b4 {
          top: 100px;
        }
        .b5 {
          bottom: 22px;
        }

        .sb .chip-animation {
          right: 29px;
        }
        .bb .chip-animation {
          left: 29px;
        }
        .b .chip-animation {
          top: -14px;
          left: -46px;
        }
        .b2 .chip-animation {
          bottom: -38px;
          left: -28px;
        }
        .b3 .chip-animation {
          bottom: -38px;
          right: -28px;
        }
        .b5 .chip-animation {
          top: -34px;
        }
      }
      .cash {
        .b {
          right: -36px;
          bottom: 60px;
        }
        .sb {
          right: 70px;
        }
        .bb {
          left: 82px;
        }
        .b1 {
          right: -36px;
          top: 36px;
        }
        .b2 {
          left: -36px;
          top: 36px;
        }
        .b3 {
          left: -36px;
          bottom: 60px;
        }
  
        .sb .chip-animation {
          top: -54px;
          left: -2px;
        }
        .bb .chip-animation {
          top: -54px;
          left: 40px;
        }
        .b .chip-animation {
          top: -14px;
          left: -46px;
        }
        .b1 .chip-animation {
          top: 34px;
          left: -48px;
        }
        .b2 .chip-animation {
          bottom: -5px;
          right: -48px;
        }
        .b3 .chip-animation {
          bottom: 42px;
          right: -54px;
        }
      }
    }
  }
}

@media (min-width: 1050px) and (max-width: 1140px) {
  .sim-deck-section {
    .sim-deck {
      .deck-container {
        width: 90%;
      }
      .mtt {
        .sb {
          right: 104px;
        }
        .bb {
          left: 104px;
        }
      }
      .cash {
        .b {
          right: -36px;
          bottom: 60px;
        }
        .sb {
          right: 70px;
        }
        .bb {
          left: 82px;
        }
        .b1 {
          right: -36px;
          top: 36px;
        }
        .b2 {
          left: -36px;
          top: 36px;
        }
        .b3 {
          left: -36px;
          bottom: 60px;
        }
  
        .sb .chip-animation {
          top: -54px;
          left: -2px;
        }
        .bb .chip-animation {
          top: -54px;
          left: 40px;
        }
        .b .chip-animation {
          top: -14px;
          left: -46px;
        }
        .b1 .chip-animation {
          top: 34px;
          left: -48px;
        }
        .b2 .chip-animation {
          bottom: -5px;
          right: -48px;
        }
        .b3 .chip-animation {
          bottom: 42px;
          right: -54px;
        }
      }
    }
  }
}

@media (min-width: 1140px) and (max-width: 1225px) {
  .sim-deck-section {
    .sim-deck {
      .deck-container {
        width: 90%;
      }
      .mtt {
        .sb {
          right: 120px;
        }
        .bb {
          left: 120px;
        }
      }
    }
  }
}

@media (max-height: 800px) {
  .sim-deck-section {
    .sim-deck {
      height: 330px;
    }
  }
}

@media (min-height: 1024px) {
  .sim-deck-section {
    height: 360px !important;
    .sim-deck {
      height: 330px;
    }
  }
}

@media (max-width: 1300px) {  
  .sim-deck-section {
    margin-top: 144px;
    margin-bottom: 43px;
  }
}

// .chip-animation {
//   animation-duration: 0.75s;
//   animation-iteration-count: 1;
//   animation-timing-function: linear;
//   animation-fill-mode: forwards
// }

.ip-animation {
  animation-name: ip-animation;
}

.oop-animation {
  animation-name: oop-animation;
}

@keyframes ip-animation {
  0%   { top: 16px; left: -45px; opacity: 1 }
  50% { top: 12px; left: -122px; opacity: 1 }
  100% { top: 8px; left: -200px; opacity: 0 }
}

@keyframes oop-animation {
  0%   { top: 16px; right: -45px; opacity: 1 }
  50% { top: 12px; right: -122px; opacity: 1 }
  100% { top: 8px; right: -200px; opacity: 0 }
}

