@import 'colors.scss';

.combos {
  display: flex;

  .glow {
    box-shadow: 0px 0px 16px $position-circle-shadow-color;
    border-radius: 8px;
  }

  .action {
    height: 45px;
    border-radius: 7px;
    color: #1E1E31;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .top-text {
      color: black;
      font-weight: 900 !important;
    }

    .bottom-text {
      font-weight: 500;
      color: #000000;
    }

    &.check {
      background: #2AD699;
    }
    &.bet-lv1 {
      background: #BD80E3;
    }
    &.bet-lv2 {
      background: #9C58E6;
    }
    &.bet-lv3 {
      background: #9C58E6;
    }
    &.bet-lv4 {
      background: #8C44E8;
    }

    .decision-combos-explanation {
      margin-left: 2px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      svg {
        height: 13px;
        width: 13px;
      }
      .question-mask-container {
        position: relative;
        display: inline-flex;
        justify-content: center;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: rgba(90, 90, 101, 0.3);
        .question-mask {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          text-shadow: 0px 0px 0.1em #5EE4F6, 0px 0px 0.2em #5EE4F6, 0px 0px 0.3em #5EE4F6, 0px 0px 0.3em #537EFF, 0px 0px 0.4em #537EFF;
        }
      }
    }
  }

  .action:not(:last-child) {
    margin-right: 4px;
  }

  .selected {
    box-shadow: 0 0 0 3px $selected-border-color;
  }
}
