.auth-screen, .basic-auth-screen {
  font-family: Lato !important;
  .form-group {
    margin-bottom: 25px;
  }
  .form-wrappper {
    position: relative;
    $form-height: 835px;
    .form{
      position: relative;
      &.bounceInDown {
        animation-duration: 0.5s;
      }
      width: 641px;
      min-height: $form-height;
      margin: auto;
      padding: 40px;
      padding-bottom: 100px;
      background-color: #23233A;
      color: #fff;
      border-radius: 10px;
    }
  }
  input, select, input:focus, select:focus {
    background-color: #383856;
    color: #eee;
    border: none;
    box-shadow: none;
  }

  button {
    font-size: 18px;
    &.submit {
      margin-top: 6px;
    }
  }
}
