div[aria-labelledby='send_message_modal'] {
  z-index: 99999;
}

.modal-dialog.send_message_modal{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  min-width: 400px;
  z-index: 99999;
  .modal-content {
    z-index: inherit;
    background-color:#31314D;
    color: #fff;
    border-radius: 11px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.11);
    position: absolute;
    .modal-body{
      padding: 4px 6px;
      .custom-modal-header {
        .close {
          color: #ffffff;
          opacity: unset;
          margin-top: 6px;
          margin-right: 10px;
          font-size: 26px;
          font-weight: lighter;
        }
      }
      .content{
        padding: 10px 40px 30px 40px;
      }
    }

  }
  .seperate{
    border:.5px solid #3b3b45;
  }
}

@media (max-width: 768px) {
  .modal-dialog.send_message_modal{
    min-width: unset;
  }
}
