@import 'colors.scss';

.left-bottom {
  .selected {
    box-shadow: 0 0 0 3px $selected-border-color;
    border-radius: 8px;
  }

  .maxtrix-img {
    cursor: pointer;
  }

  .weighted-strategy-button {
    width: 100%;
    background: $button-background-color;
    border-radius: 7px;
    font-size: 16px;
    text-align: center;
    margin-right: 15px;
    padding: 10px 0px;
    height: 42px;
    cursor: pointer;
  }
}
