@import 'colors.scss';

.config-section {
  margin: 0px 15px;
  .popup-warning {
    position: absolute;
    width: 400px;
    z-index: 100001;
    background-color: rgba(46, 46, 62, 1);
    height: 100px;
    border-radius: 10px;
    top: 70%;
    right: -25%;
    display: grid;
    color: white;
    p {
      text-align: center;
      padding-top: 10px;
      margin-bottom: 0px !important;
      font-size: 18px;
    }
    button {
      width: 100px;
      margin: auto;
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }
  .section {
    position: relative;
    .option-buttons {
      border-left: 1px solid $line-divider-color;

      .right-buttons {
        padding: 0 0 47px 25px;

        .option-button-containers-right {
          padding-left: 0px;
          padding-right: 0px;
          .btn-primary {
            padding: 0;
            height: 55px;
            width: 100%;
            max-width: 142px;
          }
          .disabled {
            cursor: default;
          }
        }

        .highlighted {
          box-shadow: 0px 0px 15px $position-circle-shadow-color !important;
        }

        .glow-btn {
          box-shadow: 0px 0px 27px $position-circle-shadow-color;
        }
      }
    }
    .mr-15px {
      margin-right: 15px;
    }

    .option-hr {
      width: 94%;
      border-top: .5px solid #4C4C6C;
      position: absolute;
      top: -30px;
    }
    .margin-option-hr {
      margin-top: 5rem;
    }

    .oop-button, .ip-button {
      // width: 70px;
      height: 42px;

      cursor: pointer;
      &:hover {
        background-color: #8888A8 !important;
      }
      &.selected {
        border: 2px solid $selected-border-color;
      }
    }

    .tooltip-question-mark {
      position: absolute;
      font-weight: normal;

      &.compare-ev-explanation {
        right: -5px;
        top: 16px;

        .__react_component_tooltip {
          opacity: unset;
          background-color: rgba(34, 34, 34, 1);
        }

        .color-square {
          height: 15px;
          width: 15px;
          display: inline-block;
          margin-right: 2px;
          opacity: 1 !important;
          &.dark-red {
            background-color: #C82A43;
          }
          &.light-red {
            background-color: #FFA500;
          }
          &.orange {
            background-color: #FFFF00;
          }
          &.yellow {
            background-color: #90EE90;
          }
          &.green {
            background-color: #B3FF03;
          }
        }
      }
      &.runnouts-explorer-explanation {
        right: -5px;
        top: 15px;
      }
      &.weighted-strategy-explanation {
        top: 9px;
        left: -22px;

        #weighted-strategy-explanation {
          top: 120px;
          left: -55px;

          &::after {
            left: 30% !important;
          }
        }
      }
      &.equity-explanation, &.ev-explanation {
        top: 10px;
        left: -14px;
      }
    }
    .right-section {
      margin-top: 0;
    }
  }

  .weighted-strategy-button {
    padding: 10px 3px;
    background: $button-background-color;
    border-radius: 7px;
    font-size: 16px;
    text-align: center;
    margin-right: 15px;
    padding: 10px 0px;
    height: 42px;
    cursor: pointer;

    &.selected {
      border: 2px solid $selected-border-color;
    }

    &:hover {
      background-color: #8888A8;
    }
  }

@media (min-width: 991px) and (max-width: 1300px) {
  .section {
    $font-size: 13px;
    .left-button-section{
      width: 44% !important;
      font-size: $font-size;
    }
    .right-button-section{
      width: 56% !important;
    }
    .option-buttons {
      .right-buttons {
        padding: 0 0 47px 4px;
        .option-button-containers-right {
          // max-width: 98px;
          padding-left: 10px;
          padding-right: 0px;
          .btn-primary {
            padding: 0;
            width: 100%;
            height: 56px;
            font-size: $font-size;
          }
        }
      }
    }

    .tooltip-question-mark {
      &.compare-ev-explanation, &.runnouts-explorer-explanation {
        right: -16px;
      }
      &.weighted-strategy-explanation {
        left: -24px;
      }
      &.equity-explanation, &.ev-explanation {
        left: -14px;
        top: 13px;
      }
    }
    .weighted-strategy-button {
      font-size: $font-size;
    }
  }
}

@media (min-width: 1300px) and (max-width: 1600px) {
  .section {
    $font-size: 16px;
    .option-buttons {
      .right-buttons {
        padding: 0 0 47px 10px;
        .option-button-containers-right {
          padding-left: 10px;
          padding-right: 0px;
          .btn-primary {
            padding: 0;
            width: 100%;
            height: 56px;
            font-size: $font-size;
          }
        }
      }
    }
  }
}

@media (max-width: 1366px) {
  .popup-warning {
    top: 55%;
    right: -30%;
  }
}

@media (min-width: 1600px) {
  .section {
    .option-buttons {
      .right-buttons {
        padding: 0 0 47px 22px;
        .option-button-containers-right {
          .btn-primary {
            max-width: 156px;
          }
        }
      }
    }
  }
}

}
