@import 'colors.scss';
@import 'size_variables.scss';

.preflop-page-container {
  padding: 20px;
  padding-top: 0px;

  .preflop-page {
    padding: 10px;
    color: white;
    min-height: 80vh;
    background-color: $page-background-color;
    border-radius: 11px;
    max-width: $app-container-max-width;
    width: $app-view-port-width;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
  }
  .top-section {
    position: relative;
  }
  .chk-weighted-strategy{
    margin-top: 5px;
    margin-bottom: 10px;
    padding-right: 5px;
    .weighted-strategy-button {
      padding: 10px 3px;
      background: $button-background-color;
      border-radius: 7px;
      font-size: 16px;
      text-align: center;
      padding: 10px 0px;
      height: 42px;
      cursor: pointer;
      width: 100%;
      max-width: $weighted-strategy-button-max-width;
      &.selected {
        border: 2px solid $selected-border-color;
      }
      &:hover {
        background-color: #8888A8;
      }
    }
  }
  .position-matrixes {
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
    display: flex;
    justify-content: center;
    .position-matrix {
      margin-bottom: 54px;
      margin-top: 40px;
      .range-matrix {
        width: 100%;
        max-width: 411px;
        cursor: unset;

        .matrix-element {
          height: 25px;
          border-radius: 5px;
          font-size: 9px;
        }

        .hand-value {
          margin-top: -2px;
        }
      }
    }
    .sim-info-block {
      margin-left: -4px;
      margin-right: -4px;
    }
    .sim-info {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      width: 100%;
      max-width: 185px;
      .deck-info {
        background-color: #8888A8;
        border-radius: 16px;
        border: 3px solid rgba(49, 49, 77, 0.186544);
        font-weight: 900;
        line-height: 18px;
        text-align: center;
        color: #31314D;
        width: 95%;

        .stack-size {
          border-right: 2px solid rgba(49, 49, 77, 0.186544);
        }

        .stack-size, .game-type {
          padding: 5px 10px;
          font-size: 18px;
        }
      }

      .positions {
        position: relative;

        .rounded-circle {
          height: 64px;
          width: 64px;
          background-color: $selected-background-color;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px
        }

        .vs-word {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $primary-color;
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
  }

  .red-clock {
    .msg {
      font-size: 11px;
      line-height: initial;
      color: #b2e6ec;
      text-shadow: 0px 0px 1px #5ee4f6, 0px 0px 2px #5ee4f6, 0px 0px 4px #537eff, 0px 0px 6px #537eff;
    }
    .time-text {
      color: $primary-color;
      font-size: 13px;
    }
  }

  .next-button {
    background-color: $primary-color;
    color: white;
    white-space: nowrap;
    padding: 8px 8px;
    
    &:focus {
      box-shadow: none;
    }
    &:hover {
      color: unset;
    }
  }
  .next-btn-block {
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    bottom: -50px;
    right: 0;
  }
  .bottom-section{
    margin-bottom: 16px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .position-matrix {
    margin-top: 0 !important;
  }
}
@media (min-width: 992px) {
  .preflop-page-container {
    .position-matrix {
      margin-bottom: 0 !important;
    }
    .next-btn-block {
      position: relative;
      top: 0;
      left: unset;
      right: 0;
    }
  }
}

@media (max-width: 991px) {
  .preflop-page-container {
    .position-matrixes {
      .sim-info-block {
        .sim-info {
          max-width: 110px;
          .deck-info {
            line-height: 16px;
            width: 76%;
            .stack-size, .game-type {
              padding: 2px 4px;
              font-size: 12px;
            }
          }
          .positions {
            .rounded-circle {
              height: 42px;
              width: 42px;
              font-size: 16px;
            }
            .vs-word {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .preflop-page-container {
    .position-matrixes {
      .sim-info-block {
        .sim-info {
          max-width: 130px;
          .deck-info {
            line-height: 18px;
            width: 86%;
            .stack-size, .game-type {
              padding: 3px 6px;
              font-size: 14px;
            }
          }
          .positions {
            .rounded-circle {
              height: 50px;
              width: 50px;
              font-size: 18px;
            }
            .vs-word {
              font-size: 16px;
            }
          }
        }
      }
    }
    .next-button {
      font-size: 10px !important;
      padding: 8px 5px;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1320px) {
  .preflop-page-container {
    .position-matrixes {
      .sim-info-block {
        .sim-info {
          max-width: 145px;
          .deck-info {
            width: 95%;
            .stack-size, .game-type {
              padding: 5px 10px;
              font-size: 18px;
            }
          }
          .positions {
            .rounded-circle {
              height: 58px;
              width: 58px;
              font-size: 21px;
            }
            .vs-word {
              font-size: 20px;
            }
          }
        }
      }
    }
    .next-button {
      font-size: 11px !important;
      padding: 10px 7px;
    }
  }
}
