@import 'colors.scss';

.positions-table {
  margin-bottom: 30px;
  width: 100%;
  padding-top: 60%;
  position: relative;

  .sim-deck {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    .deck-container {
      max-width: 94%;
      margin: auto;
      height: 100%;
      border: 3px solid $border-and-bg-color-for-simdeck;
      background: $border-and-bg-color-for-simdeck;
      border-radius: 30%/45%;
      .deck {
        width: 100% !important;
        height: 100%;
        border: 3px solid $primary-color;
        border-radius: 30%/45%;
        background-image: radial-gradient(closest-side, $deck-color, $deck-darker-color);
      }
    }
    .position-block{
      cursor: pointer;
      position: absolute;
      color: #FFFFFF;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      bottom: -4%;
      .position-point {
        opacity: 0.5;
        position: relative;
        width: 53px;
        height: 53px;
        background: $page-background-deep-color;
        border: 1px solid $border-and-bg-color-for-simdeck;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &.active {
          border: 2px solid $position-circle-border-color;
          box-shadow: 0px 0px 16px $position-circle-shadow-color;
        }
      }

      .selected-position {
        opacity: 1;
      }

      .dealer-button {
        width: 20px;
        position: absolute;
        top: -12px;
        left: -8px;
      }
    }

    .cash {
      .bb, .b3, .b2 {
        transform: translate(-50%, 50%);
      }

      .sb, .b, .b1 {
        transform: translate(50%, 50%);
      }

      .b {
        right: 0%;
        bottom: 50%;
      }
      .sb {
        right: 28%;
        bottom: 1%;
      }
      .bb {
        left: 28%;
        bottom: 1%;
        &.hu {
          left: 0%;
          bottom: 50%;
        }
      }
      .b1 {
        right: 28%;
        bottom: 99%;
      }
      .b2 {
        left: 28%;
        bottom: 99%;
      }
      .b3 {
        left: 0%;
        bottom: 50%;
      }

    }

    .mtt {
      .bb, .b3, .b4, .b5 {
        transform: translate(-50%, 50%);
      }

      .sb, .b, .b1, .b2 {
        transform: translate(50%, 50%);
      }

      .b {
        right: 1%;
        bottom: 25%;
      }
      .sb {
        right: 30%;
        bottom: 1%;
      }
      .bb {
        left: 30%;
        bottom: 1%;
      }
      .b1 {
        right: 1%;
        bottom: 75%;
      }
      .b2 {
        right: 30%;
        bottom: 99%;
      }
      .b3 {
        left: 30%;
        bottom: 99%;
      }
      .b4 {
        left: 1%;
        bottom: 75%;
      }
      .b5 {
        left: 1%;
        bottom: 25%;
      }
    }

  }

  .visibility{
    visibility: hidden;
  }
}

@media (min-width: 992px) and (max-width: 1050px) {
  .preflop-sim-deck {
    .sim-deck {
      .deck-container {
        width: 86%;
      }
      .mtt {
        .b {
          bottom: 22px;
        }
        .sb {
          right: 94px;
        }
        .bb {
          left: 94px;
        }
        .b1 {
          top: 100px;
        }
        .b2 {
          right: 14px;
          top: -12px;
        }
        .b3 {
          left: 14px;
          top: -12px;
        }
        .b4 {
          top: 100px;
        }
        .b5 {
          bottom: 22px;
        }
      }
      .cash {
        .b {
          right: -36px;
          bottom: 60px;
        }
        .sb {
          right: 70px;
        }
        .bb {
          left: 82px;
        }
        .b1 {
          right: -36px;
          top: 36px;
        }
        .b2 {
          left: -36px;
          top: 36px;
        }
        .b3 {
          left: -36px;
          bottom: 60px;
        }
      }
    }
  }
}

@media (min-width: 1050px) and (max-width: 1140px) {
  .preflop-sim-deck {
    .sim-deck {
      .deck-container {
        width: 86%;
      }
      .mtt {
        .sb {
          right: 104px;
        }
        .bb {
          left: 104px;
        }
      }
      .cash {
        .b {
          right: -36px;
          bottom: 60px;
        }
        .sb {
          right: 70px;
        }
        .bb {
          left: 82px;
        }
        .b1 {
          right: -36px;
          top: 36px;
        }
        .b2 {
          left: -36px;
          top: 36px;
        }
        .b3 {
          left: -36px;
          bottom: 60px;
        }
      }
    }
  }
}
