@import 'size_variables.scss';
@import 'colors.scss';

.subscription-view-container{
  max-width: $app-container-max-width;
  border-radius: 11px;
  color: #fff;
  box-sizing: border-box;
  .header{
    height: 60px;
    background-color:#383856;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    height: 52px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing:1px;
  }
  .form-search{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #696982;
    margin-top: 25px;
    margin-bottom: 42px;
    .search-input{
      background-color:#383856;
      width: 36%;
      min-width: 300px;
      max-width: 500px;
      border-radius: 7px;
      margin-left: 20px;

      input{
        flex: 1 0 1;
        background-color:#383856;
        // background-color:#fff;
        outline: none;
        border: none;
        color: #fff;
      }
    }
  }
  .hide-failed-button {
    border-radius: 7px;
    font-size: 16px;
    text-align: center;
    margin-right: 15px;
    height: 42px;
    cursor: pointer;
    color: white;
    background-color: #383856;
    border: 2px solid transparent;

    &.selected {
      border: 2px solid $selected-border-color;
    }
 
    &:hover {
      color: white;
      border: 2px solid $selected-border-color;
    }
  }
  .content-body{
    padding: 0 20px 2rem 20px;
    .table-container{
      min-height: 300px;
      height: 100%;
      .subscription-table{
        color: #fff;
        thead{
          border: none;
          tr{
            background-color:#383856;
            cursor: pointer;
            th:hover{
              background-color: $selected-background-color;
            }
            th:last-child{
              cursor:default;
            }
            th:first-child{
              border-top-left-radius: 11px !important;
            }
            th:nth-last-child(2){
              border-top-right-radius: 11px !important;
            }
            th.active{
              background-color:$selected-background-color;
              position: relative;
              padding: 0 12px;
              &.sorted-asc::after{
                content: "";
                border-bottom: 6px solid $deck-darker-color;
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 5%;
              }
              &.sorted-desc::after{
                content: "";
                right: 5%;
                border-top: 6px solid $darker-primary-color;
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
        tr td, tr th {
          border-right: 1px solid #4c4c6c;
          height: 54px;
        }
        tr th:nth-last-child(2), tbody tr td:last-child {
          border-right: none;
        }
        thead tr th:last-child {
          background-color: $page-background-color !important;
          border: none;
          .btn-primary{
            color: #fff;
          }
        }
        tbody tr:nth-child(2n + 1){
          background-color: #2A2A44;
        }  
        tbody tr:nth-child(2n + 2){
          background-color:#383856;
        }
        tbody tr td{
          align-items: center;
          &.ip-history-btn {
            width: 110px;
            text-align: right;
          }
          .cbx {
            margin-bottom: 0px;
            span:first-child {
              width: 20px;
              height: 20px;
              background: #202039;
              svg {
                top: 5px;
                left: 4px;
              }
            }
          }
          &.status-sub {
            padding: 8px;
            div { border-radius: 10px; }
            .paid {
              background-color: green;
            }
            .failed {
              background-color: red;
            }
          }
        }
        tbody tr td:nth-child(2){
          max-width: 250px;
        }
        .access-btn {
          min-width: 125px;
          min-height: 40px;
          .access-title {
            background-color: #3e3e5d;
            border: none;
            &:hover, &:active, &:focus {
              background-color: #3e3e5d !important;
            }
            &.dropdown-toggle:after {
              position: absolute;
              right: 12px;
            }

            .role-truncated {
              margin: 0 15px 0 10px;
            }
          }

          .access-menu-dropdown {
            background-color: #3e3e5d !important;
            min-width: 8rem;
            .access-dropdown {
              &:hover {
                background-color: #373752 !important;
                border-radius: 4px !important;
              }
            }
          }
        }
      }
    }
    .pagination {
      margin-top: 1rem;
      margin-bottom: 0;
      color: #fff;
      font-size: 18px;
      width: 100%;
      font-weight: bold;
      justify-content: center;
      text-align: center;
      .page-item{
        margin: 0 2px;

        &:focus {
          outline: none !important;
        }
        a{
          background-color: $primary-color;
          padding: 8px 14px;
          display: block !important;
          width: 100% !important;
          &:focus {
            outline: none !important;
          }
        }
        &.page-previous{
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          margin: 0 3px;
        }
        &.page-next{
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          margin: 0 3px;
        }

        &.active a {
          background-color: $deck-darker-color;
        }
      }

    }
  }
}
