.actions {
  .action-wrapper {
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    .action {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      border-radius: 7px;
      color: #1E1E31;
      text-align: center;
      margin-bottom: 1px;
      margin-right: 6px;
      &:hover {
        filter: brightness(80%);
      }
    }
    .explanation {
      position: absolute;
      bottom: -50px;
      color: #b2e6ec;
      text-shadow: 0px 0px 2px #5ee4f6, 0px 0px 2px #5ee4f6, 0px 0px 4px #537eff, 0px 0px 6px #537eff;
      line-height: initial;
      height: 50px;
    }
  }
}

.root-node {
  position: absolute;
  margin: 50px 0 0 10px;
  .explanation {
    .title-point-up {
      line-height: 20px;
      max-width: 200px;
    }

    .handle-point-up {
      transform: rotate(90deg);
      margin: 10px 0 0 15px;
    }
    color: #b2e6ec;
    text-shadow: 0px 0px 2px #5ee4f6, 0px 0px 2px #5ee4f6, 0px 0px 4px #537eff, 0px 0px 6px #537eff;
  }
}

