@import 'colors.scss';

.range-matrix {
  width: 100%;
  cursor: pointer;
  .matrix-element{
    width: 7.3%;
    height: 38px;
    background: $matrix-square-background-color;
    border-radius: 7px;
    margin: auto;
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 13px;
    color: #1E1E31;
    letter-spacing: 0.98px;
    position: relative;
    span {
      font-weight: unset;
    }
    .icon {
      width: 9px;
      height: 9px;
    }
    .hand-value {
      font-size: 10px;
      font-weight: normal;
    }
    .background, .content {
      padding: 0 2px 0;
      border-radius: inherit;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }
    .content {
      top: 0;
    }
    &.selected {
      border: 2px solid rgb(241, 15, 15);
      overflow: hidden;
    }
  }
  .no-select{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }
}
