div[id^='zoid-paypal-buttons'] {
  min-height: 62px !important;
  iframe {
    body {
      border: solid 1px red;
      .buttons-container {
        .paypal-button-row {
          height: 62px !important
        }
      }
      @media only screen and (min-width: 150px) {
        .paypal-button-row {
          height: 62px !important;
          vertical-align: top;
          min-height: unset;
          max-height: unset;
        }
      }
    }
  }
}