@import 'colors.scss';

.select-card{
  .btn-close{
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 20px;
  }

  .hightlighted-card {
    box-shadow: 0 0 0 4px $selected-border-color;
  }
}
