@import "size_variables.scss";
@import 'colors.scss';

div[aria-labelledby='range-explorer-modal'] {
  z-index: 9999;
  background-color: $page-background-deep-color;

  .range-explorer-modal {
    max-width: $app-container-max-width !important;
    width: $app-view-port-width;
  }

  @media (min-width: 769px) {
    .range-explorer-modal {
      margin-top: 95px;
      .modal-content {
        padding-bottom: 10px;
        border: none;
      }
    }
  }

  @media (max-width: 768px) {
    .range-explorer-modal {
      // max-width: 1300px !important;
      .left-col {
        border: unset;
        padding-right: 0;
        margin-top: -8;
      }
    }
  }

  .modal-content {
    background-color: $page-background-color;
    border-radius: 11px;
    color: white;
  }

  .custom-modal-header {
    .close {
      color: #ffffff;
      opacity: unset;
      margin-top: 6px;
      margin-right: 10px;
      font-size: 26px;
      font-weight: lighter;
    }
  }
}
