@import 'size_variables.scss';
@import 'colors.scss';

.my-account-container{
  width: $app-view-port-width;
  margin: 100px auto;
  max-width: $app-container-max-width;
  color: #ffffff;
  padding: 0 40px;
  h1.title {
    padding: 50px 0;
    font-size: 52px;
  }
  .page-list{
    list-style: none;
    padding-left: 0;
    background-color: $page-background-color;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.0619537);
    border-radius: 10px;
    padding: 20px 45px 30px;
    margin-right: 50px;
    li {
      font-size: 24px;
      color: #8383A3;
      margin: 22px 0;
      cursor: pointer;
    }
    li.active {
      color: #ffffff;
    }
  }
  .my-account-content {
    background-color: $page-background-color;
    color: #ffffff;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.0619537);
    border-radius: 10px;
    padding: 0 45px 30px;
    .section-header {
      font-size: 28px;
      padding: 40px 0;
    }
    .subscription-section{
      .subscription-content {
        display: flex;
        align-items: center;
        .current-subscription{
          width: 100%;
          white-space: nowrap;
          max-width: 500px;
          height: 295px;
          background-color: #33334C;
          border-radius: 9px;
          .current-subscription-header{
            display: flex;
            height: 34px;
            .title{
              background: #3D64F8;
              border-radius: 7px 0px;
              padding: 0 14px;
            }
            .subscription-date{
              font-style: italic;
              font-weight: bold;
              font-size: 18px;
              color: #8383A3;
              padding: 0 14px;
            }
          }
          .current-subscription-content{
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            p {
              font-weight: bold;
              font-size: 24px;
              color: #8383A3;
            }
            p.price{
              font-size: 30px;
              color: #ffffff;
            }
          }
        }
        .arow-icon{
          padding: 0 16px;
        }
        .subscribe-div{
          width: 100%;
          max-width: 500px;
          min-width: 375px;
          height: 295px;
          padding: 0 40px;
          background-color: #ffffff;
          border-radius: 9px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          .subscribe-price {
            font-size: 30px;
            color: #000000;
          }
          p {
            font-weight: bold;
            font-size: 24px;
            color: #6B6B88;
          }
          .subscribe-now-btn-wrapper {
            position: relative;
            background-image: linear-gradient(to right, #3D64F8 0%, #3D93F8 100%);
            box-shadow: 0 6px 10px 0 rgba(61,100,248,0.20);
            border-radius: 8px;
            border: none !important;
            &:hover {
              background-image: linear-gradient(to right, #3D93F8 0%, #3D93F8 100%);
            }
            &.disabled {
              background-image: linear-gradient(to right, gray 0%, gray 100%) !important;
              box-shadow: none !important;
            }
            .paypal-button-wrapper {
              height: 62px;
              width: 205px;
            }
            .subscribe-now-btn {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 99 !important;
              height: 62px;
              min-width: 205px;
              font-family: Helvetica;
              font-size: 18px;
              color: #FFFFFF;
              text-align: center;
              border: none !important;
              border-radius: 8px;
              font-weight: 500;
              &.disabled {
                cursor: not-allowed !important;
              }
            }
            iframe.visible {
              width: 205px !important;
              opacity: 0 !important;
            }

          }
        }
      }
    }
    .payment-details {
      width: 100%;
      max-width: 375px;
      .detail-header{
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 30px;
      }
      .payment-card{
        width: 100%;
        height: 180px;
        background: linear-gradient(217.96deg, #3D93F8 1.67%, #3D64F8 79.84%);
        border-radius: 7px;
        padding: 20px;
        .card-number{
          font-weight: bold;
          font-size: 28px;
          display: flex;
          align-items: center;
          .asterisks-icon{
            margin-right: 16px;
          }
        }
        .card-author{
          font-weight: 600;
          font-size: 18px;
          text-transform: uppercase;
        }
      }
    }
    .contact-text {
      font-weight: 500;
      font-size: 18px;
      color: #3D64F8;
    }
    .separate {
      height: 2px;
      width: 100%;
      background-color: #3B3B56;
      margin: 30px 0;
    }
    .change-password {
      background-color: transparent !important;
      border-color: transparent !important;
      max-height: 24px;
      padding-top: 0px;
    }
    button.update-password {
      min-width: 160px;
    }
  }
  input, select, input[name='email'] {
    background-color: #383856;
    color: #ffffff;
    border-radius: 7px;
    outline: none;
    border: none;
    box-shadow: none;
    &:focus {
      background-color: #383856;
      color: #ffffff;
    }
    &:disabled {
      background-color: #383856;
    }
  }
  .react-datepicker-wrapper {
    display: block;
  }
  .date-picker-container {
    display: block;
    position: relative;
    .date-picker-input {
      padding-left: 40px;
      &:focus {
        background-color: #383856;
        color: #ffffff;
      }
    }
    .calendar-icon {
      position: absolute;
      top: 50%;
      left: 14px;
      transform: translateY(-50%);
    }
  }
  .birthday-error {
    font-size: 13px;
    color: #dc3545;
  }

  .form-control {
    &:focus {
      box-shadow: 0 0 0 2px $selected-border-color;
    }
  }
}

@media (max-width: 1120px) {
  .my-account-container{
    .my-account-content{
      padding: 0 20px 30px;
      .subscription-section{
        .subscription-content{
          $height: 246px;
          $font-size: 16px;
          $font-size-price: 22px;
          .current-subscription{
            height: $height;
            .current-subscription-header{
              .title, .subscription-date{
                font-size: 10px;
                padding: 0 6px;
              }
            }
            .current-subscription-content{
              p{
                font-size: $font-size;
                &.price{
                  font-size: $font-size-price;
                }
              }
            }
          }
          .subscribe-div{
            padding: 0 14px;
            height: $height;
            min-width: unset;
            p{
              font-size: $font-size;
              &.subscribe-price{
                font-size: $font-size-price;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 934px) {
  .my-account-container{
    h1.title{
      font-size: 44px;
    }
    .contact-text{
      font-size: 16px !important;
    }
    .page-list{
      li {
        font-size: 20px;
        margin: 18px 0;
      }
    }
    .my-account-content{
      padding: 0 20px 30px;
      .section-header{
        font-size: 26px;
        padding: 30px 0;
      }
      .form-content{
        label{
          font-size: 14px;
          white-space: nowrap;
        }
      }
      .payment-details{
        h4.detail-header{
          font-size: 18px;
        }
      }
    }
  }
}

.my-account-container{
  @media (min-width: 1024px) and (max-width: 1240px) {
    .page-list {
      padding: 20px 20px 30px;
      margin-right: 30px;
    }
  }
  .my-account-content{
    .subscription-section{
      .subscription-content{
        .arow-icon{
          padding: 0 6px;
          img{
            @media (max-width: 1024px) {
              width: 24px;
            }
            @media (min-width: 1024px) and (max-width: 1240px) {
              width: 34px !important;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1240px) {
  div.title, .subscription-date{
    font-size: 14px !important;
    padding: 0 6px !important;
  }
}

@media (max-width: 1240px) {
  .subscribe-div{
    min-width: unset !important;
  }
}
