@import 'colors.scss';

.suited-icon {
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.club-suited-icon {
  background-image: url('../../../images/club-icon.svg');
}

.diamond-suited-icon {
  background-image: url('../../../images/diamond-icon.png');
  width: 18px;
}

.spade-suited-icon {
  background-image: url('../../../images/spade-icon.png');
  width: 22px;
}

.heart-suited-icon {
  background-image: url('../../../images/heart-icon.png');
  width: 26px;
}

.item-suited {
  width: 40px;
  height: 40px;
  background: transparent;
  background: $button-background-color;
  border-radius: 7px;
  flex-grow: 1;
  cursor: pointer;
  &:hover {
    background: #616181;
  }
  &.included {
    border: solid 2px #8888A8;
  }
  &.excluded {
    border: solid 2px #E23752;
  }
}

.vertical {
  .item-suited {
    height: 100%;

    &:first-child {
      margin-right: 4px;
    }
  }
}

.horizontal {
  .item-suited {
    margin-bottom: 8px;
  }

  .item-suited:not(:last-child) {
    margin-right: 8px;
  }
}

.icons-group {
  height: 24%;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}
