@import "size_variables.scss";

.content-container {
  overflow-y: auto;
  position: relative;
  margin-top: $header-height;
  &.dark-background {
    background-color: #0b0b17;
  }

  .loading-auth {
    margin-top: 100px;
    min-height: 80vh;
    text-align: center;
  }
}
