.right-section {
  padding: 0px !important;
  margin-top: 48px;

  .subscribe-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 188px;
    background: linear-gradient(217.96deg, #3D93F8 1.67%, #3D64F8 79.84%);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.211765);
    border-radius: 9px;

    .close-btn {
      font-size: 30px;
      font-weight: 100;
      padding: 0 15px 0 0;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }

    .message {
      text-align: center;
      font-size: 24px;
      color: #FFFFFF;
    }

    .subscribe-btn {
      width: 172px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      color: #000000;
      font-weight: bold;
      margin: 0 auto;
      background: #FFFFFF !important;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25098);
      border-radius: 8px;
      margin-top: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.container {
  position: relative;
  .range-matrix{
    z-index: 9999;
    .matrix-element {
      height: 35px;
    }
  }
  .hand-matrix-popup{
    position: fixed;
    display: none;
    transform: translate(-50%,-50%);
    z-index: 99999;
    height: 200px;
    width: 300px;
    background-color: #1E1E31;
    padding: 5px;
    border-radius: 11px;
    &.show{
      display: block !important;
      position: fixed !important;
    }
  }
}

@media screen and (min-width: 992px) {
  .right-section{
    margin-top: 0px;
  }
}
