@import 'colors.scss';

.street-content{
  margin-top: 25px;

  .street-label {
    font-weight: bold;
    font-size: 15px;
  }

  .angle-icon{
    margin-left: 10px;
  }
  .card-selection{
    position: relative;
    max-width: 120px;
    min-width: 102px;

    playing-card.card-5d.big-card{
      width: 100%;
      max-width: 44px !important;
      max-height: 60px !important;
    }
    .card{
      width: 100%;
      max-width: 44px;
      max-height: 60px;
    }
    .btn-add{
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    &.unique{
      max-width: 50px;
      min-width: 44px;
      .btn-add{
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-50%,-50%);
      }
    }
    &.have-title{
      .title{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-100%);
        z-index: 99999;
        text-transform: uppercase;
        background-color: transparent;
        height: auto;
      }
    }
  }
  input[name="notepad"]{
    height: 100px;
  }

  textarea {
    padding-right: 22px;
    min-height: 60px;
  }
}