@import 'size_variables.scss';
@import 'colors.scss';

.setup-account-container{
  width: $app-view-port-width;
  margin: 20px auto;
  max-width: $app-container-max-width;
  color: #ffffff;
  padding: 0 40px;
  font-family: Lato !important;
  .setup-account-content {
    background-color: $page-background-color;
    color: #ffffff;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.0619537);
    border-radius: 10px;
    padding: 0 45px 30px;
    width: 70%;
    margin: 0 auto;
    .header-tile {
      font-size: 28px;
      padding: 40px 0;
      text-align: center;
    }
  }

  input, select, input[name='email'] {
    background-color: #383856;
    color: #ffffff;
    border-radius: 7px;
    outline: none;
    border: none;
    box-shadow: none;
    &:focus {
      background-color: #383856;
      color: #ffffff;
    }
    &:disabled, &:read-only {
      background-color: #383856;
    }
  }
  .react-datepicker-wrapper {
    display: block;
  }
  .date-picker-container {
    display: block;
    position: relative;
    .date-picker-input {
      padding-left: 40px;
      &:focus {
        background-color: #383856;
        color: #ffffff;
      }
    }
    .calendar-icon {
      position: absolute;
      top: 50%;
      left: 14px;
      transform: translateY(-50%);
    }
  }
  .birthday-error {
    font-size: 13px;
    color: #dc3545;
  }

  .form-control {
    &:focus {
      box-shadow: 0 0 0 2px $selected-border-color;
    }
  }

  .password-strength {
    border: 3px solid #383856;
    border-radius: 6px;
    height: 100%;
  }
  .progress {
    height: 10px;
    margin-bottom: 5px;
    .progress-bar{
      background-color: #2AD699;
    }
  }
  .country-error {
    display: none;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
  }
  button {
    font-size: 18px;
    &.submit {
      margin-top: 6px;
    }
  }

}