@import 'colors.scss';

.range-explorer {
  hr {
    border: none;
    height: 2px;
    background-color: $line-divider-color;
    margin-left: 0;
    margin-right: 0;
  }

  .big-card {
    height: 34px;
    width:  25px;
    border-radius: 2px;
  }

  .board-card:not(:last-child) {
    margin-right: 4px;
  }

  .small-card  {
    height: 30px;
    width: 43px;
    margin-bottom: 0;
    line-height: 30px;
    border-radius: 5px;
    cursor: unset;
    p {
      font-size: 18px;
      height: 100%;
    }
  }



  .maxtrix-img {
    display: inline-block;
    margin-right: 5px;

    img {
      height: 84px;
      width: 84px;
    }
  }

  .suits {
    border-left: 1px solid $line-divider-color;;
  }

  .hand-matrix {
    height: 300px;
    margin-bottom: 5px;
    .item-grid-3 {
      height: unset;
    }
  }

  .left-col {
    border-right: 2px solid $line-divider-color;;

    .decisions {
      cursor: unset;
      max-width: unset;
    }
  }

  .angle-icon {
    cursor: pointer;
  }
  .right-container{
    display: flex;
    flex-direction: column;

    // @media(max-width: 1140px) {
    //   .hand-matrix{
    //     order: 0;
    //     margin-top: 24px;
    //   }
    //   .oop-hand-types{
    //     order: 1;
    //   }
    //   .seperate{
    //     order: 2;
    //   }
    //   .ip-hand-types{
    //     order: 3;
    //   }
    // }

  }
  .fetching-div {
    .fetching-overlay {
      visibility: hidden;
    }
  }
}
