@import 'colors.scss';

.playing-card {
  cursor: pointer;
}

.empty-card {
  background-color: #383856;
  cursor: pointer;
}

.big-card {
  height: 186px;
  width: 135px;
  border-radius: 11px;
  box-sizing: content-box;
  outline: 3px solid transparent;
}

.small-card {
  display: block;
  float: left;
  background-color: #F5F5FF;
  height: 43px;
  width: 50px;
  border-radius: 5px;
  margin-bottom: 9px;

  .rank-suit {
    width: 100%;
    font-family: lato;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.mini-card {
  width: 44px !important;
  height: 60px !important;
}

.highlighted {
  box-shadow: 0 0 0 3px $selected-border-color;
}

.icon {
  display: inline-block;
  width: 15px;
  height: 15px;
}

.background-size-contain {
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-c {
  background-image: url("../../images/suits/club.svg");
}

.icon-s {
  background-image: url("../../images/suits/spade.svg");
}

.icon-h {
  background-image: url("../../images/suits/heart-png.png");
}

.icon-h-yellow {
  background-image: url("../../images/suits/heart_yellow.png");
}

.icon-d {
  background-image: url("../../images/suits/diamon-png.png");
}

@media (max-width: 768px) {
  .big-card {
    height: 145px;
    width: 105px;
    border-radius: 10px;
  }
}


/* Club Cards */
.card-2c {
  background-image: url("../../images/Cards_v2/Clubs/2c.png");
}

.card-3c {
  background-image: url("../../images/Cards_v2/Clubs/3c.png");
}

.card-4c {
  background-image: url("../../images/Cards_v2/Clubs/4c.png");
}

.card-5c {
  background-image: url("../../images/Cards_v2/Clubs/5c.png");
}

.card-6c {
  background-image: url("../../images/Cards_v2/Clubs/6c.png");
}

.card-7c {
  background-image: url("../../images/Cards_v2/Clubs/7c.png");
}

.card-8c {
  background-image: url("../../images/Cards_v2/Clubs/8c.png");
}

.card-9c {
  background-image: url("../../images/Cards_v2/Clubs/9c.png");
}

.card-10c {
  background-image: url("../../images/Cards_v2/Clubs/10c.png");
}

.card-Jc {
  background-image: url("../../images/Cards_v2/Clubs/Jc.png");
}

.card-Qc {
  background-image: url("../../images/Cards_v2/Clubs/Qc.png");
}

.card-Kc {
  background-image: url("../../images/Cards_v2/Clubs/Kc.png");
}

.card-Ac {
  background-image: url("../../images/Cards_v2/Clubs/Ac.png");
}


/* Diamon Cards */
.card-2d {
  background-image: url("../../images/Cards_v2/Diamonds/2d.png");
}

.card-3d {
  background-image: url("../../images/Cards_v2/Diamonds/3d.png");
}

.card-4d {
  background-image: url("../../images/Cards_v2/Diamonds/4d.png");
}

.card-5d {
  background-image: url("../../images/Cards_v2/Diamonds/5d.png");
}

.card-6d {
  background-image: url("../../images/Cards_v2/Diamonds/6d.png");
}

.card-7d {
  background-image: url("../../images/Cards_v2/Diamonds/7d.png");
}

.card-8d {
  background-image: url("../../images/Cards_v2/Diamonds/8d.png");
}

.card-9d {
  background-image: url("../../images/Cards_v2/Diamonds/9d.png");
}

.card-10d {
  background-image: url("../../images/Cards_v2/Diamonds/10d.png");
}

.card-Jd {
  background-image: url("../../images/Cards_v2/Diamonds/Jd.png");
}

.card-Qd {
  background-image: url("../../images/Cards_v2/Diamonds/Qd.png");
}

.card-Kd {
  background-image: url("../../images/Cards_v2/Diamonds/Kd.png");
}

.card-Ad {
  background-image: url("../../images/Cards_v2/Diamonds/Ad.png");
}

/* Heart Cards */
.card-2h {
  background-image: url("../../images/Cards_v2/Hearts/2h.png");
}

.card-3h {
  background-image: url("../../images/Cards_v2/Hearts/3h.png");
}

.card-4h {
  background-image: url("../../images/Cards_v2/Hearts/4h.png");
}

.card-5h {
  background-image: url("../../images/Cards_v2/Hearts/5h.png");
}

.card-6h {
  background-image: url("../../images/Cards_v2/Hearts/6h.png");
}

.card-7h {
  background-image: url("../../images/Cards_v2/Hearts/7h.png");
}

.card-8h {
  background-image: url("../../images/Cards_v2/Hearts/8h.png");
}

.card-9h {
  background-image: url("../../images/Cards_v2/Hearts/9h.png");
}

.card-10h {
  background-image: url("../../images/Cards_v2/Hearts/10h.png");
}

.card-Jh {
  background-image: url("../../images/Cards_v2/Hearts/Jh.png");
}

.card-Qh {
  background-image: url("../../images/Cards_v2/Hearts/Qh.png");
}

.card-Kh {
  background-image: url("../../images/Cards_v2/Hearts/Kh.png");
}

.card-Ah {
  background-image: url("../../images/Cards_v2/Hearts/Ah.png");
}

/* Spade Cards */
.card-2s {
  background-image: url("../../images/Cards_v2/Spades/2s.png");
}

.card-3s {
  background-image: url("../../images/Cards_v2/Spades/3s.png");
}

.card-4s {
  background-image: url("../../images/Cards_v2/Spades/4s.png");
}

.card-5s {
  background-image: url("../../images/Cards_v2/Spades/5s.png");
}

.card-6s {
  background-image: url("../../images/Cards_v2/Spades/6s.png");
}

.card-7s {
  background-image: url("../../images/Cards_v2/Spades/7s.png");
}

.card-8s {
  background-image: url("../../images/Cards_v2/Spades/8s.png");
}

.card-9s {
  background-image: url("../../images/Cards_v2/Spades/9s.png");
}

.card-10s {
  background-image: url("../../images/Cards_v2/Spades/10s.png");
}

.card-Js {
  background-image: url("../../images/Cards_v2/Spades/Js.png");
}

.card-Qs {
  background-image: url("../../images/Cards_v2/Spades/Qs.png");
}

.card-Ks {
  background-image: url("../../images/Cards_v2/Spades/Ks.png");
}

.card-As {
  background-image: url("../../images/Cards_v2/Spades/As.png");
}

.cursor-auto {
  cursor: auto;
}
