@import 'size_variables.scss';
@import 'colors.scss';

.main-interface-page {
  padding: 20px;

  .main-interface {
    min-height: 80vh;
    color: white;
    background-color: $page-background-color;
    border-radius: 11px;
    max-width: $app-container-max-width;
    width: $app-view-port-width;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
    @import './LeftSection/stylesheet.scss';
    @import './RightSection/stylesheet.scss';
    .btn-red {
      background: #E23752;
      border-color: #E23752;
    }
  }

  .tooltip-question-mark {
    font-weight: normal;
    svg {
      background-color: red;
      color: #fff;
      border-radius: 50%;
    }
  }
}

@media (max-width: 1025px) {
  .main-interface {
    font-size: 14px !important;
    .btn, .ip-button, .oop-button {
      font-size: 14px !important;
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes progress-bar-animate {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes overlay-animate {
  from {
    // background-position: 100% 100%;
    height: 0px;
  }
  to {
    // background-position: center;
    height: 100%;
  }
}

@keyframes full-filled {
  from {
    filter: brightness(100%);
  }
  50%  {
    filter:brightness(150%);
  }
  to {
    filter: brightness(100%);
  }
}
