.subscription-section {
  min-height: 500px;
  .subscription-table {
    .suport-info {
      font-size: 14px;
      margin-bottom: 0;
      margin-top: 10px;
    }
    .action-btn-group{
      padding: 40px 10px 0;
      .action-btn {
        margin-right: 20px;
      }
    }
  }
  .subscription-content {
    margin-top: 100px;
  }
}