@import 'colors.scss';

.cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0,0,0);
    &:first-child {
      position: relative;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      transform: scale(1);
      vertical-align: middle;
      background: #383856;
      transition: all .2s ease;
      svg {
        position: absolute;
        top: 3px;
        left: 2px;
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 16px;
        stroke-dashoffset: 16px;
        transition: all .3s ease;
        transition-delay: .1s;
        transform: translate3d(0,0,0);
      }
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: $primary-color;
        display: block;
        transform: scale(0);
        opacity: 1;
        border-radius: 50%;
      }
    }
    &:last-child {
      padding-left: 8px;
    }
  }
  &:hover span:first-child {
    border-color: $primary-color;
  }
}
.inp-cbx:checked + .cbx {
  span {
    &:first-child {
      background: $selected-background-color !important;
      border-color: $primary-color !important;
      animation: wave .4s ease !important;
      svg {
        stroke-dashoffset: 0 !important;
      }
    }
  }  
}
@keyframes wave {
  50% {
    transform: scale(.9);
  }
}