@import 'size_variables.scss';
@import 'colors.scss';

.user-profiles-view-container {
  .header {
    padding-left: 20px;
  }
}

.modal-dialog.confirm-role-modal {
  color: #ffffff;
  vertical-align: middle;
  margin: auto;
  height: 100%;
  .modal-content {
    background-color: $page-background-color;
    padding: 0px 10px;
  }
  .modal-footer {
    border: none !important;
  }
}
