@import 'colors.scss';

.select-turn-card{
  padding: 10px;
  .head {
    background: #383856;
    padding: 12px 15px;
    border-radius: 11px 11px 0px 0px;
    border-bottom: 2px solid #4C4C6C;
    position: relative;

    .close-button {
      position: absolute;
      top: 10px;
      right: 16px;
      font-size: 20px;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
  .body {
    padding: 10px;
    min-height: 140px;
    border-radius: 0px 0px 11px 11px;
    width: 100%;
    margin: auto;
    cursor: pointer;
    background: #383856;
    .small-card-wrapper {
      width: 7%;
      height: 33px;
      margin: 2px;
      .small-card {
        width: 100%;
        height: 100%;
        border-radius: 7px;
        color: #1E1E31;
        &:hover {
          border: 1px solid $selected-border-color;
        }
        .icon {
          width: 13px;
          height: 13px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}
