@import "colors.scss";

.burger-menu-button {
  position: absolute;
  top: 15px;
  left: 25px;

  div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    border-radius: 10px;
  }
}

.left-size-bar-container {
  min-height: 650px;
}

.left-side-bar-hidden {
  div{
    z-index: -1;
  }
}

.left-side-bar {
  background-color: $valhalla;
  width: 257px;

  .options {
    color: white;
    font-family: lato;
    font-size: 16px;
  }

  .close-button {
    width: 103%;
    background-color: $valhalla;
    min-height: 50px;
    border-radius: 0 5px 5px 0;

    a {
      color: $old-rose;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .main-options {
    border-top: 1px solid $corn-flower-blue;
    min-height: 50px;

    a {
      line-height: 100%;
      display: inline-block;
      vertical-align: middle;
      color: white;
      text-decoration: none;

      &:hover {
        color: white;
        text-decoration: none;
      }
    }

    &:last-child {
      border-bottom: 1px solid  $corn-flower-blue;
    }
  }

  .sub-options {
    font-weight: 100;
    height: 30px;
  }
}

