.simplifier {
  padding: 16px;

  &.simple-view {
    padding: 0 4px 5px;
  }

  select {
    background-color: #3E3E5D;
    height: 30px;
    width: 65px;
    color: white;
    border: none;
    text-align-last: center;

    &:focus {
      outline: none;
    }
  }

  .action-buttons {
    button {
      width: 143px;
      height: 43px;
      color: white;
      background-color: #E23752;
    }
  }

  .hide-strategy-explanation {
    margin-left: 10px;
  }

  #hide-strategy-explanation {
    max-width: 400px;
  }
}