div[aria-labelledby='sign-up-success-popup'] {
  z-index: 99999;

  .sign-up-success-popup {
    max-width: 600px !important;
    margin-top: 200px;
  }

  .modal-content {
    background-color: #2a2a44;
    border-radius: 11px;
    color: white;
  }

  .modal-header {
    border: none;
    background-color: #383856;
    border-radius: 11px 11px 0 0;

    .modal-title {
      font-size: 18px !important;
      font-weight: bold;
    }

    .close {
      color: #ffffff;
      opacity: unset;
      font-size: 30px;
      font-weight: lighter;
    }
  }

  .ok-btn {
    width: 130px;
  }
}
