.right {
  padding: 10px;

  .combination-height {
    height: 270px;
  }

  .decisions-container {
    margin: 12px 0;
  }
}

@media (min-width: 991px) and (max-width: 1300px) {
  .right {
    .range-matrix {
      .matrix-element {
        height: 35px;
      }
    }
  }
}