.auth-screen.reset-password {
  .form-wrappper.bounceInDown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    $form-height: 400px;
    .form {
      min-height: $form-height;
      margin-top: calc((100vh - #{$form-height})/2);
      padding-bottom: 40px;
    }
  }
}
