@import 'colors.scss';

div[aria-labelledby='main-page-options-modal'] {
  .modal-content {
    .content {
      padding: 0 20px 10px;
      .color-scheme-section {
        border-bottom: 1px solid #4C4C6C;
        padding-bottom: 10px;
        width: 92%;
        margin-right: auto;
        &.last {
          border: none;
        }
        .color-option-item {
          min-height: 35px;
          max-width: 80%;
          border-radius: 4px;
          &.red {
            background-color: #E23752;
          }
          &.orange {
            background-color: #F59B53;
          }
          &.yellow {
            background-color: #FFD254;
          }
          &.blue {
            background-color: #3D64F8;
          }
          &.green {
            background-color: #2AD699;
          }
          &.purple {
            background-color: #BD80E3;
          }
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
      .matrix-element {
        width: 16%;
      }
    }
  }
}
