@import 'colors.scss';

.hand-types {
  .percentage-bar {
    background: #23233A;
    border-radius: 12.5px;
    overflow: hidden;
  }

  .hand-type-container {
    padding: 2px;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    &:hover {
      background: #383856;
      border-radius: 6px;
    }
  }

  .hand-type-percent {
    height: 10px;
    border-radius: 12.5px;
  }

  .hantype-column:not(:last-child) {
    border-right: 1px solid $line-divider-color;
  }

  @media(max-width: 1240px){
    .hantype-column{
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  @media(min-width: 654px) and (max-width: 1140px){
    .hantype-column{
      flex: 0 0 50% !important;
      max-width: 50% !important;
    }
  }


  .hand-type-name, .hand-type-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hand-type-name {
    font-size: 12px;
  }

  .hand-type-info {
    font-size: 11px;
  }

  .selected {
    background-color: #4f4f79 !important;
    border-radius: 6px;
  }
}

