div[aria-labelledby='confirm-dialog'] {
  z-index: 100000;

  .btn-primary {
    padding: 6px 12px;
  }

  .btn-primary, .btn-secondary {
    border-radius: 6px;
    width: 50px;
  }

  .modal-content {
    background-color: #23233A;
    color: white;

    .close {
      color: white;
    }

    .modal-header {
      border-bottom: 1px solid #4c4c6c;
    }

    .modal-footer {
      border-top: 1px solid #4c4c6c;
    }
  }
}
