@import 'colors.scss';

.contact-us{
  background-color: $page-background-deep-color;
  position: relative;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  padding-bottom: 200px;
  .title{
    font-size: 34px;
    padding: 80px;
  }
  .contact-content-container{
    display: flex;
    justify-content:center;
    .content{
      width: 100%;
      max-width: 760px;
      display: flex;
      justify-content: space-evenly;
      .for-billing, .for-anything{
        background-color: $page-background-light-color;;
        width: 100%;
        max-width: 320px;
        padding: 30px 40px;
        border-radius: 6px;
      }
      
    }
  }

}
@media (max-width: 768px) {
  .contact-us{
    .contact-content-container{
      .content{
        .for-billing, .for-anything{
          width: unset;
          max-width: 320px;
          padding: 20px 30px;
          h5 {
            font-size: 18px;
            margin-bottom: 20px !important;
          }
        }        
      }
    }
  }
}