@import "size_variables.scss";
@import 'colors.scss';

div[aria-labelledby='contact-popup'] {
  z-index: 99999;
  .modal-dialog{
    min-width: 400px;
    max-width: 500px;
    margin-top: 240px;
  }
  .modal-title{
    font-size: 22px;
  }
  .modal-content {
    background-color:#31314D;
    color: #fff;
    border-radius: 11px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.109804);
    .custom-modal-header {
      padding: 14px;
      font-weight: bold;
      font-size: 14px;
      background-color: #383856;
      border-radius: 11px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      .close {
        color: #ffffff;
        opacity: unset;
        font-size: 24px;
        font-weight: lighter;

        &:hover {
          opacity: 0.75;
        }
      }
    }
    .content {
      padding: 20px;
      p {
        font-size: 18px;
      }
    }

  }
}

div[aria-labelledby='change-sub-popup'] {
  z-index: 99999;

  .change-sub-popup {
    min-width: 800px;
    max-width: unset;
    width: fit-content;
    margin-top: calc( 10px + #{$header-height});
  }
  .modal-content {
    background-color:#31314D;
    color: #fff;
    border-radius: 11px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.109804);
  }

  .custom-modal-header {
    padding: 14px;
    font-weight: bold;
    font-size: 14px;
    background-color: #383856;
    border-radius: 11px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    .modal-title {
      font-size: 22px !important;
      font-weight: bold;
    }

    .close {
      color: #ffffff;
      opacity: unset;
      font-size: 30px;
      font-weight: lighter;
    }
  }
  .content {
    padding: 20px;
    p {
      font-size: 18px;
    }
    .table-container {
      h4 {
        margin-bottom: 14px;
      }
      .table {
        color: white;
        thead{
          th {
            border-top: none;
          }
        }
      }
    }
  }
}


@media (max-width: 768px) {
  div[aria-labelledby='contact-popup'] {
    z-index: 99999;
    .modal-dialog{
      min-width: unset;
    }
  }
}
