@import 'size_variables.scss';
@import 'colors.scss';

$space-between-two-section: 100px;

.subcribe-page{
  width: 100%;
  max-width: $app-container-max-width;
  margin: 75px auto 100px;
  color: white;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  .exclusive-discount {
    margin-top: 0px;
    .discount-content{
      font-size: 25px;
      .pokercode-logo{
        width: 100%;
        max-width: 220px;
        display: inline-block;
        transform: translateY(-6%);
      }
      span {
        color: gray;
        font-size: 1em;
      }
    }
    @media (min-width: 768px) {
      margin-top: 20px;
    }
    @media (min-width: 550px) and (max-width: 768px) {
      margin-top: 10px;
      .discount-content{
        font-size: 20px;
        .pokercode-logo{
          max-width: 180px;
          transform: translateY(-7%);
        }
      }
    }
    
    @media (min-width: 450px) and (max-width: 550px) {
      .discount-content{
        font-size: 18px;
        .pokercode-logo{
          max-width: 160px;
          transform: translateY(-7%);
        }
      }
    }
    @media (min-width: 350px) and (max-width: 450px) {
      .discount-content{
        font-size: 14px;
        .pokercode-logo{
          max-width: 90px;
          transform: translateY(-7%);
        }
      }
    }
    @media (max-width: 350px) {
      .discount-content{
        font-size: 12px;
        .pokercode-logo{
          max-width: 80px;
          transform: translateY(-7%);
        }
      }
    }
  }
  .code-discount {
    margin-top: 100px;
    color: #ADD8E9;
    // font-size: 25px;
    font-size: 2vw;
    img {
      width: 150px !important;
      object-fit: contain;
    }
    div {
      padding-top: 7px;
      vertical-align: middle;
      line-height: normal;
      margin: auto;
    }
  }
  &.subcribe-content{
    .payment-section{
      width: 100%;
      padding-top: $space-between-two-section;
      margin: 0 auto;
      .payment-btn-group{
        position: relative;
        justify-content: center;
        .payment-content{
          width: 100%;
          max-width: 1200px;
          justify-content: center;
          align-items: center;
          .payment-btn-container{
            background-color: #33334C;
            border-radius: 9px;
            max-width: 403px;
            height: 605px;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            &.big-size {
              max-width: 423px;
              height: 716px;
              background: linear-gradient(217.96deg, $background-subscription-option-dark 1.67%, $background-subscription-option-light 79.84%);
            }
            &.hight-light {
              .new-price{
                color: #000000;
              }
              p {
                margin-bottom: 0rem;
              }
            }
            .ticket {
              position: absolute;
              transform: translate(-50%, -50%);
              left: 50%;
              width: 100%;
              img {
                width: 100%;
                max-width: 260px;
              }
              .ticket-content {
                width: 100%;
                word-spacing: 1px;
                position: absolute;
                font-family: Futura;
                font-weight: bold;
                font-size: 32px;
                line-height: 38px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                transform: translate(-50%, -50%) rotate(-4deg);
                top:50%;
                left: 50%;
              }
            }

            .price {
              margin-top: 40px;
              font-family: Futura;
              text-align: center;
              line-height: 22px;
              font-size: 20px;
              font-weight: 900;
              &.code-discount-option {
                text-decoration: line-through;
                text-decoration-color: red;
                text-decoration-thickness: 2px;
                font-size: 18px;
                span {
                  font-size:22px;
                }
              }
              span {
                font-size: 26px;
                line-height: 33px
              }
            }

            .special-price {
              color: $special-price-color;
              font-size: 24px;
              line-height: 34px;
              &.code-discount-option {
                font-size: 20px;
                span {
                  font-size: 24px;
                }
              }
              span {
                font-size: 28px;
              }
            }

            .rectangle-container {
              color: #8383A3;
              font-family: Futura;
              font-weight: bold;
              font-size: 20px;
              line-height: 31px;
              text-align: center;
              .rectangle {
                width: 340px;
                position: relative;
                margin: auto;
                div {
                  display: flex;
                  width: 100%;
                  justify-content: center;
                  align-items: center;
                  img {
                    height: fit-content;
                    width: fit-content;
                    margin-top: auto;
                    margin-bottom: auto;
                    padding-bottom: 1rem;
                    padding-left: 10px;
                  }
                }

                div:nth-child(1) img {
                  padding-left: 10px;
                  margin-top: 37px;
                }

                div:nth-child(5) img {
                  position: absolute;
                  height: unset;
                  width: unset;
                  margin-top: 30px;
                  right: 15px;
                }

                p {
                  font-family: Lato;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 20px;
                  text-align: center;
                  line-height: 30px;
                }

                p.first-payment {
                  max-width: 237px;
                }
              }
              &.hight-light {
                border: 4px solid $selected-border-color;
                border-radius: 17px;
                height: 192px;
                width: 340px;
                margin: 60px auto 54px;
                background: #FFFFFF;
                position: relative;
                .check-large {
                  position: absolute;
                  width: 100%;
                  z-index: 100;
                  top: 0;
                  left: 0;
                  transform: translateY(-50%);
                }
                .rectangle {
                  height: 131px;
                  top: 37px;
                  font-weight: bold;
                  font-size: 20px;
                  line-height: 24px;
                  text-align: center;
                  color: #6B6B88;
                  width: 100%;
                }
              }
            }
            .title{
              line-height: 46px;
              margin: 58px auto 42px;
              font-size: 38px;
              font-weight: bold;
              font-family: Futura;
              color: $title-subscription;
            }
            .subscribe-now-btn-wrapper {
              display: inline-block;
              margin-top: 60px;
              margin-bottom: 70px;
              height: 62px;
              width: 205px;
              position: relative;
              border-radius: 8px;
              border: none;
              background-image: linear-gradient(90deg,$button-subscribe-dark-color 0, $button-subscribe-light-color);
              box-shadow: 0px 6px 10px $button-subscribe-shadow;
              &.btn-gradient{
                margin-top: 52px;
                width: 255px;
                height: 77px;
                background: linear-gradient(90deg, $button-special-subscribe-dark-color 0, $button-special-subscribe-light-color);
                border: 0.5px solid #FFFFFF;
                .subscribe-now-btn {
                  height: 100%;
                  width: 100%;
                }
              }
              &:hover {
                background-image: linear-gradient(to right, $position-circle-border-color-selected 0%, $position-circle-border-color-selected 100%);
              }
              &.disabled {
                background-image: linear-gradient(to right, gray 0%, gray 100%) !important;
                box-shadow: none !important;
              }
              .subscribe-now-btn {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 99 !important;
                height: 62px;
                min-width: 205px;
                font-family: Helvetica;
                font-size: 18px;
                color: #FFFFFF;
                text-align: center;
                border: none !important;
                border-radius: 8px;
                font-weight: 500;
                &.disabled {
                  cursor: not-allowed !important;
                }
              }
              iframe.visible {
                width: 205px !important;
                opacity: 0 !important;
              }

            }
          }
        }
      }

      &.pokercode-view {
        .payment-btn-group{
          .payment-content{
            .payment-btn-container{
              &.big-size {
                background: linear-gradient(217.96deg, #ffffff 1.67%, #ffffff 79.84%);
              }
              .special-price {
                color: #000000;
              }
              .rectangle-container {
                &.hight-light {
                  border: 4px solid #E16E4B;
                }
              }
              .title{
                color: #E16E4B;
              }
              .subscribe-now-btn-wrapper {
                background-image: linear-gradient(90deg,#E16E4B 0, #E16E4B);
                box-shadow: 0px 6px 10px rgba(61, 100, 248, 0.2);
                &.btn-gradient{
                  background: linear-gradient(90deg, #E16E4B 0, #E16E4B);
                }
                &:hover {
                  background-image: linear-gradient(to right, #F2653F 0%, #F2653F 100%);
                }
              }
            }
          }
        }
      }
    }
    .feature-section-container{
      padding-top: $space-between-two-section;
      .feature-section-container-title{
        font-size: 2.1em;
        line-height: 49px;
        margin-bottom: 85px;
        @media (max-width: 3750px) {
          font-size: 1.6em;
          line-height: 44px;
          margin-bottom: 65px;
        }
      }
    }
    .slider-section{
      padding-top: $space-between-two-section;
      padding-bottom: 100px;
      .slider-intro{
        text-align: center;
        .slider-intro-title{
          font-size: 2.1em;
          line-height: 49px;
          margin-bottom: 50px;
        }
        .slider-intro-content{
          font-size: 1em;
          line-height: 23px;
          max-width: 600px;
          width: 100%;
          display: inline-block;
        }
      }
      .slider-container{
        $height: 430px;
        height: $height;
        padding: 0 30px;
        .slider{
          margin-top: 70px;
          .slick-arrow {
            z-index: 10;
          }
          .slick-prev:before, .slick-next:before {
            font-size: 3rem;
            opacity: 0.2;
            color: #a9baf1;
          }
          .slick-prev:before{
            left: 0;
            position: absolute;
          }
          .slick-next:before{
            right: 0;
            position: absolute;
          }
          .silde-item{
            width: 100%;
            max-width: 510px;
            height: $height;
            position: relative;
            .slide-content{
              position: absolute;
              bottom: 0;
              height: 82%;
              background-color: #33334C;
              padding: 0 30px;
              margin: 14px;
              border-radius: 9px;
              .avatar{
                position: relative;
                height: 120px;
                width: 120px;
                top: 0;
                left: 50%;
                transform: translate(-50%,-50%);
                background-color: gray;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                background-color: #2A2A44;
              }
              .comment{
                font-size: 1.5em;
                line-height: 35px;
                margin-top: -20px;
              }
              .text{
                margin: 30px 0;
              }
              .author{
                font-style: italic;
                font-size: 0.9em;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  div[aria-labelledby='notify-modal'] {
    z-index: 99999;
    .modal-dialog{
      min-width: unset;
    }
  }
}

@media (max-width: 876px) {
  .subcribe-page{
    margin-top: 0;
  }
}

@media (max-width: 678px) {
  .subcribe-page{
    &.subcribe-content{
      .slider-section{
        .slider-container{
          .slider{
            .slick-prev:before{
              left: -20px;
            }
            .slick-next:before{
              right: -20px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1240px) {
  .subcribe-page{
    .code-discount {
      margin-top: 50px;
      font-size: 22px;
    }
    &.subcribe-content{
      .slider-section{
        .slider-container{
          $height: 420px;
          height: $height;
          .slider{
            .slick-prev:before{
              left: -14px;
            }
            .slick-next:before{
              right: -14px;
            }
            .silde-item{
              height: $height;
              .slide-content{
                .avatar{
                  height: 90px;
                  width: 90px;
                }
                .comment{
                  margin-top: -30px;
                }
                .text{
                  margin: 20px 0;
                }
              }
            }
          }
        }
      }
    }
  }
}


.subcribe-page{
  .code-discount {
    margin-top: 50px;
    font-size: 22px;
    @media (min-width: 0px) and (max-width: 768px) {
      img {
        width: 100px !important;
      }
    }
  }
  &.subcribe-content{
    .payment-section{
      .payment-btn-group{
        .payment-content{
          .payment-btn-container{
            @media (min-width: 0px) and (max-width: 768px) {
              height: 520px;
              max-width: 440px;
              margin: 50px auto;
              &.big-size {
                max-width: 440px;
                height: 620px;
              }
              .ticket {
                img {
                  max-width: 60%;
                }
                .ticket-content {
                  font-size: 32px;
                }
              }
              .price {
                margin-top: 14px;
                font-size: 24px;
                &.code-discount-option {
                  font-size: 24px;
                  line-height: 30px;
                  span { font-size: 30px; }
                }
                &.special-price {
                  font-size: 24px;
                  &.code-discount-option {
                    font-size: 24px;
                    span { font-size: 30px; }
                  }
                  span { font-size: 30px; }
                }
                span { font-size: 30px; }
              }
              .rectangle-container {
                .rectangle {
                  width: 100%;
                  max-width: 90%;
                  min-height: 154px;
                  div {
                    img {
                      padding-bottom: 1rem;
                      padding-left: 6px;
                    }
                  }

                  div:nth-child(1) img {
                    padding-left: 0px;
                    margin-top: 17px;
                  }
                }
                &.hight-light {
                  height: 200px;
                  width: 100%;
                  max-width: 90%;
                  margin: 30px auto 52px;
                  .check-large {
                    img {
                      max-width: 36px;
                    }
                  }
                  .rectangle {
                    width: 100%;
                    max-width: 100%;
                    font-size: 16px;
                  }
                }
              }
              .title{
                margin-bottom: 34px;
                margin-top: 52px;
                font-size: 44px !important;
              }
              .subscribe-now-btn-wrapper {
                margin-top: 42px;
                height: 58px;
                width: 200px;
                &.btn-gradient{
                  margin-top: 32px;
                  width: 240px;
                  height: 68px;
                }
                .subscribe-now-btn {
                  height: 58px;
                  min-width: 200px;
                  font-size: 18px;
                }
                iframe.visible {
                  width: 200px !important;
                }
              }
            }
            @media (max-width: 550px) {
              max-width: 400px;
              &.big-size {
                max-width: 400px;
              }
            }
            @media (max-width: 400px) {
              max-width: 92%;
              height: 410px;
              &.big-size {
                max-width: 92%;
                height: 450px;
              }
              .ticket {
                .ticket-content {
                  font-size: 16px;
                }
              }
              .price {
                margin-top: 0px;
                font-size: 14px;
                // line-height: 14px !important;
                &.code-discount-option {
                  font-size: 14px;
                  line-height: 14px;
                  span { font-size: 20px; }
                }
                &.special-price {
                  font-size: 14px;
                  &.code-discount-option {
                    font-size: 14px;
                    span { font-size: 20px; }
                  }
                  span { font-size: 20px; }
                }
                span { font-size: 20px; }
              }
              .rectangle-container {
                .rectangle {
                  width: 100%;
                  max-width: 94%;
                  min-height: 132px;
                  div {
                    img {
                      padding-bottom: 1rem;
                      padding-left: 6px;
                    }
                  }

                  div:nth-child(1) img {
                    padding-left: 0px;
                    margin-top: 7px;
                  }

                  p {
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 19px;
                    margin-bottom: 6px;
                  }
                }
                &.hight-light {
                  height: 152px;
                  width: 100%;
                  max-width: 94%;
                  margin: 30px auto 32px;
                  .check-large {
                    img {
                      max-width: 38px;
                    }
                  }
                  .rectangle {
                    width: 100%;
                    max-width: 100%;
                    font-size: 16px;
                  }
                }
              }
              .title{
                line-height: 28px;
                margin: 32px auto 20px;
                font-size: 28px !important;
              }
              .subscribe-now-btn-wrapper {
                margin-top: 26px;
                height: 56px;
                width: 180px;
                &.btn-gradient{
                  margin-top: 18px;
                  width: 200px;
                  height: 64px;
                }
                .subscribe-now-btn {
                  height: 56px;
                  min-width: 180px;
                  font-size: 16px;
                }
                iframe.visible {
                  width: 180px !important;
                }
              }
            }
            @media (min-width: 1300px) and (max-width: 1440px) {
              background-color: yellow important;
              max-width: 370px;
              height: 505px;
              &.big-size {
                max-width: 400px;
                height: 616px;
              }
              .ticket {
                img {
                  max-width: 220px;
                }
                .ticket-content {
                  font-size: 26px;
                }
              }

              .price {
                margin-top: 20px;
                font-size: 19px;
                &.code-discount-option {
                  font-size: 15px;
                  span { font-size: 19px; }
                }
                &.special-price {
                  font-size: 23px;
                  &.code-discount-option {
                    font-size: 19px;
                    span { font-size: 23px; }
                  }
                  span { font-size: 27px; }
                }
                span { font-size: 23px; }
              }

              .rectangle-container {
                .rectangle {
                  width: 100%;
                  max-width: 90%;
                  div {
                    img {
                      padding-bottom: 1rem;
                      padding-left: 6px;
                    }
                  }

                  div:nth-child(1) img {
                    padding-left: 0px;
                    margin-top: 37px;
                  }

                  p {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                  }
                }
                &.hight-light {
                  height: 182px;
                  width: 286px;
                  margin: 44px auto 48px;
                  .rectangle {
                    width: 100%;
                    max-width: 90%;
                    font-size: 18px;
                  }
                }
              }
              .title{
                line-height: 46px;
                margin: 46px auto 30px;
                font-size: 36px !important;
              }
              .subscribe-now-btn-wrapper {
                margin-top: 46px;
                height: 60px;
                width: 200px;
                &.btn-gradient{
                  margin-top: 38px;
                  width: 240px;
                  height: 70px;
                }
                .subscribe-now-btn {
                  height: 60px;
                  min-width: 200px;
                }
                iframe.visible {
                  width: 200px !important;
                }
              }
            }
            @media (min-width: 1100px) and (max-width: 1300px) {
              max-width: 370px;
              height: 505px;
              &.big-size {
                max-width: 400px;
                height: 616px;
              }
              .ticket {
                img {
                  max-width: 220px;
                }
                .ticket-content {
                  font-size: 26px;
                }
              }

              .price {
                margin-top: 20px;
                font-size: 20px;
                &.code-discount-option {
                  font-size: 16px;
                  span { font-size: 20px; }
                }
                &.special-price {
                  font-size: 20px;
                  &.code-discount-option {
                    font-size: 16px;
                    span { font-size: 20px; }
                  }
                  span { font-size: 26px; }
                }
                span { font-size: 24px; }
              }

              .rectangle-container {
                .rectangle {
                  width: 100%;
                  max-width: 90%;
                  min-height: 166px;
                  div {
                    img {
                      padding-bottom: 1rem;
                      padding-left: 6px;
                    }
                  }

                  div:nth-child(1) img {
                    padding-left: 0px;
                    margin-top: 37px;
                  }

                  p {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 0.5rem;
                  }
                }
                &.hight-light {
                  height: 182px;
                  width: 286px;
                  margin: 44px auto 48px;
                  .rectangle {
                    width: 100%;
                    max-width: 90%;
                    font-size: 18px;
                  }
                }
              }
              .title{
                line-height: 46px;
                margin: 46px auto 30px;
                font-size: 36px !important;
              }
              .subscribe-now-btn-wrapper {
                margin-top: 46px;
                height: 60px;
                width: 200px;
                &.btn-gradient{
                  margin-top: 38px;
                  width: 240px;
                  height: 70px;
                }
                .subscribe-now-btn {
                  height: 60px;
                  min-width: 200px;
                }
                iframe.visible {
                  width: 200px !important;
                }
              }
            }
            @media (min-width: 900px) and (max-width: 1100px) {
              max-width: 370px;
              height: 520px;
              &.big-size {
                max-width: 400px;
                height: 616px;
              }
              .ticket {
                img {
                  max-width: 190px;
                }
                .ticket-content {
                  font-size: 22px;
                }
              }
              .price {
                margin-top: 20px;
                font-size: 18px;
                &.code-discount-option {
                  font-size: 15px;
                  span {
                    font-size: 23px;
                  }
                }
                &.special-price {
                  font-size: 20px;
                  &.code-discount-option {
                    font-size: 17px;
                    span {
                      font-size: 27px;
                    }
                  }
                  span {
                    font-size: 30px;
                  }
                }
                span{
                  font-size: 26px;
                }
              }
              .rectangle-container {
                .rectangle {
                  width: 100%;
                  max-width: 80%;
                  min-height: 200px;
                  div {
                    img {
                      padding-bottom: 1rem;
                      padding-left: 6px;
                    }
                  }

                  div:nth-child(1) img {
                    padding-left: 0px;
                    margin-top: 37px;
                  }

                  p {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                  }
                }
                &.hight-light {
                  height: 182px;
                  width: 100%;
                  max-width: 90%;
                  margin: 54px auto 60px;
                  .rectangle {
                    width: 100%;
                    max-width: 100%;
                    font-size: 18px;
                  }
                }
              }
              .title{
                line-height: 46px;
                margin: 46px auto 26px;
                font-size: 34px !important;
              }
              .subscribe-now-btn-wrapper {
                margin-top: 38px;
                height: 56px;
                width: 180px;
                &.btn-gradient{
                  margin-top: 30px;
                  width: 220px;
                  height: 64px;
                }
                .subscribe-now-btn {
                  height: 56px;
                  min-width: 180px;
                  font-size: 16px;
                }
                iframe.visible {
                  width: 180px !important;
                }
              }
            }
            @media (min-width: 768px) and (max-width: 900px) {
              height: 400px;
              max-width: 230px;
              &.big-size {
                max-width: 300px;
                height: 470px;
              }
              .ticket {
                img {
                  max-width: 160px;
                }
                .ticket-content {
                  font-size: 18px;
                }
              }
              .price {
                margin-top: 0px;
                font-size: 18px;
                &.code-discount-option {
                  font-size: 14px;
                  span {
                    font-size: 20px;
                  }
                }
                &.special-price {
                  font-size: 18px;
                  &.code-discount-option {
                    font-size: 16px;
                    span {
                      font-size: 22px;
                    }
                  }
                  span {
                    font-size: 24px;
                  }
                }
                span{
                  font-size: 22px;
                }
              }
              .rectangle-container {
                .rectangle {
                  width: 100%;
                  max-width: 90%;
                  min-height: 154px;
                  div {
                    img {
                      padding-bottom: 1rem;
                      padding-left: 6px;
                    }
                  }

                  div:nth-child(1) img {
                    padding-left: 0px;
                    margin-top: 17px;
                  }

                  p {
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 19px;
                    margin-bottom: 6px;
                  }
                }
                &.hight-light {
                  height: 152px;
                  width: 100%;
                  max-width: 94%;
                  margin: 30px auto 32px;
                  .check-large {
                    img {
                      max-width: 36px;
                    }
                  }
                  .rectangle {
                    width: 100%;
                    max-width: 100%;
                    font-size: 16px;
                  }
                }
              }
              .title{
                line-height: 24px;
                margin: 32px auto 20px;
                font-size: 24px !important;
              }
              .subscribe-now-btn-wrapper {
                margin-top: 26px;
                height: 54px;
                width: 160px;
                &.btn-gradient{
                  margin-top: 18px;
                  width: 180px;
                  height: 60px;
                }
                .subscribe-now-btn {
                  height: 54px;
                  min-width: 160px;
                  font-size: 15px;
                }
                iframe.visible {
                  width: 160px !important;
                }
              }
            }


          }
        }
      }
    }
  }
}
