@import 'colors.scss';

.left {
  background: $page-background-light-color;
  padding: 10px;
  border-radius: 11px;

  .collapse-container {
      position: absolute;
      top: 50%;
      transform: translateY(-38%);
      left: 12px;
      right: 12px;
      z-index: 2;
  }
  .section {
    font-weight: 600;
    position: relative;
    .option-button-containers-left, .option-button-containers-right {
      height: 44px;
      .option{
        // position: absolute;
        height: 22px;
        // left: 0%;
        // right: 88.07%;
        // top: calc(50% - 22px/2 - 83px);
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
      }
      .oop-button, .ip-button {
        background: $button-background-color;
        border-radius: 7px;
        text-align: center;

        &:last-child {
          margin-right: 15px;
        }
      }

      .btn-primary {
        width: 143px;
      }
    }
    .option-button-containers-right{
      height: 55px;
    }
  }
  @media (max-width: 767px) {
    .sim-deck-section {
      .sim-deck {
        .deck-container {
          width: 90% !important;
          .deck {
            .card-on-sim-deck {
              width: 43px !important;
              height: 68px !important;
            }
          }
        }
      }
    }
  }

  .line {
    height: 1px;
    background-color: $line-divider-color;
    margin: 29px 15px 20px 15px
  }
}

