@import 'colors.scss';
.thank-you-page {
  background-color: $page-background-deep-color;
  position: relative;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  padding-bottom: 200px;
  .title{
    font-size: 42px;
    padding: 0px 0 0px;
  }

  .content-container {
    font-size: 16px;
    font-family: lato;
    &.closed-margin{
      margin-top: 50px;
    }
    .content {
      width: 60%;
      margin: auto;
      .message-block {
        .message {
          margin: 0 auto;
          p {
            margin-bottom: 4px;
          }
        }
      }
      .header {
        font-size: 30px;
        margin: 30px 0;
      }
      thead {
        margin-bottom: 10px;
        border-bottom: 0.5px solid #4c4c6c;
      }
      td {
        color: #9b9ba3;
        font-size: 16px;
      }
      hr {
        border-color: #4c4c6c;
        margin-top: 30px;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1240px) {
  .thank-you-page {
    .title{
      font-size: 42px !important;
      padding: 40px 0 20px !important;
    }
  }
}
