@import 'size_variables.scss';
@import 'colors.scss';

.app-footer{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: inherit !important;
  color: #fff;
  .footer{
    max-width: $app-container-max-width !important;
    width: $app-view-port-width;
    z-index: 1000;
    display: flex;
    justify-content: center;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
    .footer-content-container {
      width: 100%;
      max-width: $app-container-max-width !important;
    }
    &.footer-bg-image {
      background: url("../../images/footer-background.png");
    }

    &.footer-black-bg-image  {
      background: url("../../images/footer-background-black.png");
    }

    .footer-content{
      padding-top: 100px;
      margin-bottom: 60px;
      .content-left{
        padding-right: 60px;
        .logo{
          width: 170px;
          display: inline-block;
          height: 70px;
          max-width: 170px;
          .odin-image {
            height: 70px;
          }
          .odin-pokercode-image  {
            margin-top: 10px;
            height: 100px;
          }
        }
        .footer-description{
          margin-top: 40px;
          font-size: 1em;
          line-height: 22px;
          font-weight: 500;
        }
      }
      .content-right{
        max-width: 700px;
        width: 100%;
        .list-content{
          padding: 10px;
          a{
            color: white;
            margin-top: 10px;
          }
        }
      }
    }
    .seperate{
      background-color: $line-divider-color;
      height: 2px;
    }
    .footer-bottom{
      height: 80px;
    }
    .text-half-transparent{
      color: #ffffff;
      opacity: 0.5;
      font-size: 14px;
      p {
        margin-bottom: 0px;
      }
    }
    .join-discord{
      padding: 0 5px;
      .discord-logo-container{
        margin-left: 4px;
        width: auto;
        height: 32px;
        display: inline-block;
        .discord-logo{
          font-size: 22px;
        }
      }
    }
    .mail-address{
      border-left: 2px solid $line-divider-color;
      padding: 0 4px;
    }
  }
}

@media (max-width: 550px) {
  .app-footer{
    .footer{
      font-size: 14px;
      .footer-content{
        .content-left{
          .logo{
            width: 150px;
            height: 50px;
            max-width: 150px;
            .odin-image {
              height: 50px;
            }
            .odin-pokercode-image  {
              height: 70px;
            }
          }
        }
        .content-right{
          font-size: 14px;
          .list-content{
            padding-top: 0;
            a:first-of-type{
              margin-top: 0;
            }
          }
        }
      }
      .seperate{
        height: 1px;
      }
      .footer-bottom{
        font-size: 13px;
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 500px) {
  .app-footer{
    .footer{
      .footer-bottom{
        font-size: 13px;
        text-align: center;
        padding-right: 4px;
      }
      .text-half-transparent{
        order: 2;
        width: 100%;
        font-size: 12px;
      }
      .contact-link {
        order: 1;
        display: block;
        // display: flex;
        // justify-content: space-between;
        width: 100%;
      }
      .join-discord{
        padding: 0 2px;
        .discord-logo-container{
          margin-left: 4px;
          height: 24px;
          .discord-logo{
            font-size: 16px;
          }
        }
      }
      .mail-address{
        border-left: 1px solid $line-divider-color;
        padding: 0 2px;
      }
    }
  }
}
