@import 'colors.scss';
@import "size_variables.scss";

#strategy-select-page  {
  background-color: $page-background-deep-color;
  color: #f9faff;
  padding: 20px 0;

  hr {
      border: none;
      height: 2px;
      color: #41425c;
      background-color: $line-divider-color;
  }

  .selected {
    background-color: $selected-background-color;
  }

  .street-select, .site-select {
    .rounded-circle {
      font-size: 13px;
    }
  }

  .stake-select {
    .rounded-circle {
      font-size: 11px;
      max-width: 70px;
      line-height: unset;
      padding-top: 8px;
    }
  }

  .game-type-select, .open-size-select {
    .rounded-circle {
      font-size: 16px;
    }
  }

  .strategy-select-container {
    max-width: $app-container-max-width;
    width: $app-view-port-width;
  }

  .left-container {
    background-color: $page-background-color;
    border-radius: 11px;
  }

  .left-container {
    .option-label {
      padding-bottom: 12px;
    }
  }

  .rounded-circle {
    font-size: 20px;
    min-height: 50px;
    min-width: 50px;
    line-height: 50px;
    cursor: pointer;
  }

  .select-flop-title {
    border-radius: 7px 7px 0 0;
    background-color: #383856;
  }

  .card-options{
    width: 806px;
  }
  label[for=players-8max] {
    .position-absolute {
      top: 15px;
      left: 14px;
    }
  }
}

@media (max-width: 768px) {
  #strategy-select-page {
    padding-left: 0;
    padding-right: 0;
  }
}
