@import 'colors.scss';
@import "size_variables.scss";

#free-postflop-page  {
  background-color: $page-background-deep-color;
  color: #f9faff;
  padding: 20px 0;

  .free-postflop-container {
    max-width: $app-container-max-width;
    width: $app-view-port-width;
    background-color: $page-background-color;
    border-radius: 11px;

    .free-postflop-title {
      border-radius: 7px 7px 0 0;
      background-color: #383856;
    }

    .free-postflop-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      min-height: 500px;
      .button-group {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 54%;
        .btn {
          min-width: 100px;
        }
      }
    }
  }

}

@media (max-width: 768px) {
  #free-postflop-page {
    padding-left: 0;
    padding-right: 0;
  }
}
