@import 'colors.scss';

.preflop-sim-deck {
  margin-top: 59px;
  margin-bottom: 0px;
  .sim-deck {
    width: 100%;
    height: 330px;
    position: relative;
    .deck-container {
      max-width: 512px;
      margin: auto;
      height: 100%;
      border: 5px solid $border-and-bg-color-for-simdeck;
      background: $border-and-bg-color-for-simdeck;
      border-radius: 30%/45%;
      .deck {
        width: 100% !important;
        height: 100%;
        border: 3px solid $primary-color;
        border-radius: 30%/45%;
        background-image: radial-gradient(closest-side, $deck-color, $deck-darker-color);
        .current-turn-pot {
          // position: absolute;
          // top: calc(50% - 20px/2 - 108px);
          height: 20px;
          font-weight: bold;
          font-size: 17px;
          line-height: 20px;
        }
        .community-cards {
          width: 85%;
          margin-top: 5%;
          margin-bottom: 5%;
          .card-on-sim-deck {
            width: 80px;
            height: 110px;
            border-radius: 5px;
            &.empty-card {
              background: #aaaaab;
              opacity: 0.1;
            }
          }
        }
        .deck-info {
          display: block;
          padding: 8px 16px;
          border-radius: 1rem;
          position: absolute;
          top: -5%;
          left: 50%;
          transform: translatex(-50%);
          background: $border-and-bg-color-for-simdeck;
          border: 3px solid rgba(49, 49, 77, 0.186544);
          font-weight: 900;
          font-size: 15px;
          line-height: 18px;
          text-align: center;
          color: #31314D;
        }
        .total-pot {
          position: absolute;
          top: 32px;
          font-weight: bold;
        }
        .pot_main {
          background: $deck-darker-color;
          border-radius: 0.6rem;
          font-weight: bold;
          font-size: 17px;
          line-height: 20px;
          padding: 6px 24px;
        }
        .poker-code-block {
          position: absolute;
          top: 70px;
          left: 50%;
          transform: translatex(-50%);
        }
      }
    }
    .position-block{
      position: absolute;
      color: #FFFFFF;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      bottom: -4%;
      .position-point {
        position: relative;
        width: 80px;
        height: 80px;
        background: $page-background-deep-color;
        border: 2px solid $border-and-bg-color-for-simdeck;
        border-radius: 50%;
        &.active {
          border: 4px solid $position-circle-border-color;
          box-shadow: 0px 0px 30px $position-circle-shadow-color;
        }
      }
      &.oop-position {
        left: 4%;
      }
      &.ip-position {
        right: 4%;
      }
      .total_eq_ev{
        font-size: 18px;
        line-height: 21px;
        color: $text-color;
      }

      .remaining-stack {
        font-size: 17px;
      }

      .position {
        margin-top: 12px;
      }
    }

    .cash {
      .b {
        right: -25px;
        bottom: 38px;
        &.hu {
          right: -35px;
          bottom: 120px;
        }
      }
      .sb {
        right: 118px;
        bottom: -40px;
      }
      .bb {
        left: 118px;
        bottom: -40px;
        &.hu {
          left: -40px;
          bottom: 120px;
        }
      }
      .b1 {
        right: -28px;
        top: 40px;
      }
      .b2 {
        left: -28px;
        top: 40px;
      }
      .b3 {
        left: -25px;
        bottom: 38px;
      }

      .sb .chip-animation {
        top: -66%;
        left: 20%;
      }
      .bb .chip-animation {
        top: -66%;
        left: 30%;
        &.hu {
          top: 10%;
          left: 110%;
        }
      }
      .b .chip-animation {
        top: 0;
        left: -65%;
        &.hu {
          top: 10%;
          left: -65%;
        }
      }
      .b1 .chip-animation {
        top: 34%;
        left: -72%;
      }
      .b2 .chip-animation {
        bottom: 30%;
        right: -70%;
      }
      .b3 .chip-animation {
        bottom: 86%;
        right: -61%;
      }
    }

    .mtt {
      .b {
        right: -10px;
        bottom: 16px;
      }
      .sb {
        right: 130px;
        bottom: -40px;
      }
      .bb {
        left: 130px;
        bottom: -40px;
      }
      .b1 {
        right: -42px;
        top: 106px;
      }
      .b2 {
        right: 14px;
        top: -12px;
      }
      .b3 {
        left: 14px;
        top: -12px;
      }
      .b4 {
        left: -42px;
        top: 106px;
      }
      .b5 {
        left: -10px;
        bottom: 16px;
      }

      .sb .chip-animation {
        top: -50px;
        right: 24px;
      }
      .bb .chip-animation {
        top: -50px;
        left: 24px;
      }
      .b .chip-animation {
        top: -16px;
        left: -46px;
      }
      .b1 .chip-animation {
        top: 14px;
        right: 82px;
      }
      .b2 .chip-animation {
        bottom: -28px;
        left: -34px;
      }
      .b3 .chip-animation {
        bottom: -28px;
        right: -34px;
      }
      .b4 .chip-animation {
        top: 14px;
        left: 82px;
      }
      .b5 .chip-animation {
        top: -24px;
        right: -46px;
      }
    }

    .dealer-button {
      position: absolute;
      top: -26px;
      left: -10px;
    }
    .chip-animation {
      position: absolute;
      min-width: 40px;
    }

    .coins-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      &.hide {
        display: none !important;
      }
      .pot-main{
        margin-top: 4px;
        font-size: 14px;
        font-weight: 900;
      }
    }

    .fold-action {
      filter: brightness(130%);
    }
  }

  .playing-card {
    cursor: unset;
  }

  .cursor-pointer {
    cursor: pointer;
  }
  .visibility{
    visibility: hidden;
  }

  .text-red {
    color: #E23752;
  }
}

@media (min-width: 992px) and (max-width: 1050px) {
  .preflop-sim-deck {
    .sim-deck {
      .deck-container {
        width: 86%;
      }
      .mtt {
        .b {
          bottom: 22px;
        }
        .sb {
          right: 94px;
        }
        .bb {
          left: 94px;
        }
        .b1 {
          top: 100px;
        }
        .b2 {
          right: 14px;
          top: -12px;
        }
        .b3 {
          left: 14px;
          top: -12px;
        }
        .b4 {
          top: 100px;
        }
        .b5 {
          bottom: 22px;
        }

        .sb .chip-animation {
          right: 29px;
        }
        .bb .chip-animation {
          left: 29px;
        }
        .b .chip-animation {
          top: -14px;
          left: -46px;
        }
        .b2 .chip-animation {
          bottom: -38px;
          left: -28px;
        }
        .b3 .chip-animation {
          bottom: -38px;
          right: -28px;
        }
        .b5 .chip-animation {
          top: -34px;
        }
      }
      .cash {
        .b {
          right: -36px;
          bottom: 60px;
        }
        .sb {
          right: 70px;
        }
        .bb {
          left: 82px;
        }
        .b1 {
          right: -36px;
          top: 36px;
        }
        .b2 {
          left: -36px;
          top: 36px;
        }
        .b3 {
          left: -36px;
          bottom: 60px;
        }
  
        .sb .chip-animation {
          top: -54px;
          left: -2px;
        }
        .bb .chip-animation {
          top: -54px;
          left: 40px;
        }
        .b .chip-animation {
          top: -14px;
          left: -46px;
        }
        .b1 .chip-animation {
          top: 34px;
          left: -48px;
        }
        .b2 .chip-animation {
          bottom: -5px;
          right: -48px;
        }
        .b3 .chip-animation {
          bottom: 42px;
          right: -54px;
        }
      }
    }
  }
}

@media (min-width: 1050px) and (max-width: 1140px) {
  .preflop-sim-deck {
    .sim-deck {
      .deck-container {
        width: 86%;
      }
      .mtt {
        .sb {
          right: 104px;
        }
        .bb {
          left: 104px;
        }
      }
      .cash {
        .b {
          right: -36px;
          bottom: 60px;
        }
        .sb {
          right: 70px;
        }
        .bb {
          left: 82px;
        }
        .b1 {
          right: -36px;
          top: 36px;
        }
        .b2 {
          left: -36px;
          top: 36px;
        }
        .b3 {
          left: -36px;
          bottom: 60px;
        }
  
        .sb .chip-animation {
          top: -54px;
          left: -2px;
        }
        .bb .chip-animation {
          top: -54px;
          left: 40px;
        }
        .b .chip-animation {
          top: -14px;
          left: -46px;
        }
        .b1 .chip-animation {
          top: 34px;
          left: -48px;
        }
        .b2 .chip-animation {
          bottom: -5px;
          right: -48px;
        }
        .b3 .chip-animation {
          bottom: 42px;
          right: -54px;
        }
      }
    }
  }
}

@media (min-width: 1140px) and (max-width: 1225px) {
  .preflop-sim-deck {
    .sim-deck {
      .deck-container {
        width: 88%;
      }
      .mtt {
        .sb {
          right: 120px;
        }
        .bb {
          left: 120px;
        }
      }
    }
  }
}

@media (max-height: 600px) {
  .preflop-sim-deck {
    .sim-deck {
      height: 330px;
    }
  }
}

@media (min-height: 1024px) {
  .preflop-sim-deck {
    height: 330px !important;

    .sim-deck {
      height: 100%;
    }
  }
}
