@import 'colors.scss';

.dual-range {
  .left-col {
    border-right: 2px solid $line-divider-color;
  }

  .position {
    font-weight: bold;
    font-size: 18px;
    color: $primary-color;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .board-cards {
    .small-card:not(:last-child) {
      margin-right: 3px;
    }

    .small-card  {
      height: 30px;
      width: 43px;
      margin-bottom: 0;
      line-height: 30px;
      border-radius: 5px;
      cursor: unset;
      p {
        font-size: 18px;
        height: 100%;
      }
    }
  }

  .preflop-subset {
    z-index: 99;
    position: absolute;
    left: 49%;
    transform: translate(-50%, -30%);
    min-width: 164px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #8888AB;
    border-radius: 15px;
    font-size: 15px;
    color: #31314D;
    font-weight: 900;
  }

  .view-option {
    font-size: 16px;

    &:not(:last-child) {
      margin-right: 14px;
    }
  }

  .angle-icon {
    cursor: pointer;
  }

  .oop-submatrix-item-popup, .ip-submatrix-item-popup {
    z-index: 99999 !important;
    height: 250px !important;
    width: 550px !important;
    max-width: 550px !important;
    background-color: #383856 !important;
    padding: 24px 10px 10px 10px;
    border-radius: 10px;

    position: absolute;
    top: 20%;

    .popup-close {
      position: absolute;
      top: 0;
      right: 10px;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  .oop-submatrix-item-popup {
    left: 45px;
  }

  .ip-submatrix-item-popup {
    right: 60px;
  }

  .cards-node {
    margin-top: 30px;

    .decisions {
      max-width: unset;
      cursor: unset;
    }

    .playing-card {
      cursor: unset;
    }
  }

  .weighted-strategy-button {
    padding: 10px 3px;
    background: $button-background-color;
    border-radius: 7px;
    font-size: 16px;
    text-align: center;
    margin-right: 15px;
    height: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &.selected {
      border: 1px solid $selected-border-color;
    }

    &:hover {
      background-color: #8888A8;
    }
  }

  .combos {
    display: flex;
  
    .glow {
      box-shadow: 0px 0px 14px $position-circle-shadow-color;
      border-radius: 6px;
    }
    .action {
      height: 46px;
      border-radius: 7px;
      color: #1E1E31;
      text-align: center;
      flex-basis: 0;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2px;
      line-height: normal;
  
      .top-text {
        color: black;
        font-weight: 900 !important;
      }
  
      .bottom-text {
        font-weight: 500;
        color: #000000;
      }
    }
  }
  .middle-section {
    .col-5 {
      flex: 0 0 45%;
      max-width: 45%;
    }
    .col-2 {
      flex: 0 0 10%;
      max-width: 10%;
    }
  }
}
