@import 'size_variables.scss';
@import 'colors.scss';

.feature-section{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: $app-content-max-width;
  .feature-item {
    margin-top: 40px;
    .feature-icon{
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon{
        height: auto;
        width: auto;
      }
    }
    .feature-title{
      margin: 12px 0 10px;
      font-size: 22px;
      text-shadow: 0px 0px 20px #8FCCFF;
    }
    .feature-description{
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      margin-left: 0;
      list-style: disc inside;
      padding-left: 0;
      width: 100%;
    }
  }
}


@media (max-width: 768px) {
  .feature-section{
    .feature-item {
      .feature-title{
        font-size: 20px;
      }
      .feature-description{
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .feature-section{
    max-width: 820px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (min-width: 991px)  and (max-width: 1248px){
  .feature-section{
    .feature-item{
      .feature-icon{
        height: 64px;
      }
      .feature-title{
        font-size: 20px;
      }
      .feature-description{
        font-size: 14px;
      }
    }
  }
}