@import 'colors.scss';

.hand-matrix-item-container {
  .item-grid-6, .item-grid-4 {
    height: 50%;
  }
  .item-grid-3
   {
    height: 33.3%;
  }
  .background-block-container {
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 99%;
    overflow: hidden;
    .background-block {
      height: 100%;
      width: 100%;
      position: absolute;
      bottom: 0;
      .background, .ev-background {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
      }
    }
  }

  .hand-matrix-item {
    overflow: hidden;
    background: $matrix-square-background-color;
    opacity: 0.85;
    margin: 1px;
    height: 99%;
    width: 99%;
    font-size: 14px;
    color: #1E1E31;
    line-height: 14px;
    font-style: normal;
    .icon {
      margin-left: 1px;
      width: 10px;
      height: 10px;
    }
    .text-large{
      font-size: 30px;
      font-weight: normal;
    }
    .combo-info {
      position: absolute;
      top: 50%;
      transform: translate(0, -40%);
      .padding {
        padding-left: -1px !important;
        padding-right: -1px !important;
      }
    }
    .rank-container {
      position: relative;
      .icon {
        filter: drop-shadow(0px 0px 0.5px black);
      }
    }
  }
  .top-left {
    border-top-left-radius: 7px;
  }
  .top-right {
    border-top-right-radius: 7px;
  }
  .bottom-left {
    border-bottom-left-radius: 7px;
  }
  .bottom-right {
    border-bottom-right-radius: 7px;
  }
}
