@import 'colors.scss';

div[aria-labelledby='subscribe-billing-cycle-options-modal'] {
  z-index: 99999;
  .modal-dialog{
    min-width: 400px;
    max-width: 450px;
    margin-top: 240px;
  }
  .modal-content {
    background-color:#31314D;
    color: #fff;
    border-radius: 11px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.109804);
    text-align: center;
    .custom-modal-header {
      padding: 20px;
      font-weight: bold;
      font-size: 18px;
      background-color: #383856;
      border-radius: 11px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      .close {
        color: #ffffff;
        opacity: unset;
        font-size: 36px;
        font-weight: lighter;

        &:hover {
          opacity: 0.75;
        }
      }
    }
    .content {
      padding-top: 5px;
      .option {
        cursor: pointer;
        background-color: #383856;
        border-radius: 7px;
        height: 55px;
        width: 100%;
        padding: 18px 15px 18px 20px;
        border-bottom: 1px solid #30304a;
        &.active {
          background-color: #3D64F8;
        }
        .option-sale {
          background: #61B775;
          border: 1px solid #FFFFFF;
          border-radius: 7px;
          margin-left: 10px;
          min-width: 82px;
          min-height: 24px;
          display: inline-block;
        }
      }
    }
    .subscribe-now-btn {
      margin: 20px 0;
      background: linear-gradient(217.96deg, #3D93F8 1.67%, #3D64F8 79.84%);
      border-radius: 7px;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #FFFFFF;
      padding: 12px 2 24px;
      min-height: 43px;
      min-width: 255px;
    }

  }
}

@media (max-width: 768px) {
  div[aria-labelledby='subscribe-billing-cycle-options-modal'] {
    z-index: 99999;
    .modal-dialog{
      min-width: unset;
    }
  }
}