div[aria-labelledby='tree-building-modal'] {
  z-index: 100001;

  .tree-building-modal {
    min-width: 780px;
    max-width: unset;
    width: fit-content;
    margin-top: 10px !important;
  }

  .modal-content {
    background-color: #2a2a44;
    border-radius: 11px;
    color: white;
  }

  .modal-header {
    border: none;
    background-color: #383856;
    border-radius: 11px 11px 0 0;

    .modal-title {
      font-size: 18px !important;
      font-weight: bold;
    }

    .close {
      color: #ffffff;
      opacity: unset;
      font-size: 30px;
      font-weight: lighter;
    }
  }
}
