.blue-scheme {
  &.base {
    background-color: #46ABF9;
  }
  &.level-1 {
    background-color: #D2ECFF;
  }
  &.level-2 {
    background-color: #BBE2FF;
  }
  &.level-3 {
    background-color: #A4D8FF;
  }
  &.level-4 {
    background-color: #8DCDFE;
  }
  &.level-5 {
    background-color: #75C2FC;
  }
  &.level-6 {
    background-color: #5EB6FB;
  }
  &.level-7 {
    background-color: #52B1FA;
  }
  &.level-8 {
    background-color: #46ABF9;
  }
  &.level-9 {
    background-color: #2B4FDB;
  }
  &.level-10 {
    background-color: #1A7ECA;
  }
  &.level-11 {
    background-color: #0467B2;
  }
  &.level-12 {
    background-color: #035899;
  }
}

.orange-scheme {
  &.base {
    background-color: #F59B53;
  }
  &.level-1 {
    background-color: #FFE8C9;
  }
  &.level-2 {
    background-color: #FFDCAE;
  }
  &.level-3 {
    background-color: #FFD093;
  }
  &.level-4 {
    background-color: #FDC383;
  }
  &.level-5 {
    background-color: #FAB673;
  }
  &.level-6 {
    background-color: #F8A863;
  }
  &.level-7 {
    background-color: #F7A25B;
  }
  &.level-8 {
    background-color: #F59B53;
  }
  &.level-9 {
    background-color: #EB7F44;
  }
  &.level-10 {
    background-color: #E26435;
  }
  &.level-11 {
    background-color: #D84826;
  }
  &.level-12 {
    background-color: #B9EE21;
  }
}

.yellow-scheme {
  &.base {
    background-color: #FFD254;
  }
  &.level-1 {
    background-color: #FFF9C8;
  }
  &.level-2 {
    background-color: #FFF6AD;
  }
  &.level-3 {
    background-color: #FFF391;
  }
  &.level-4 {
    background-color: #FFEB82;
  }
  &.level-5 {
    background-color: #FFE373;
  }
  &.level-6 {
    background-color: #FFDA63;
  }
  &.level-7 {
    background-color: #FFD65C;
  }
  &.level-8 {
    background-color: #FFD254;
  }
  &.level-9 {
    background-color: #F2BF38;
  }
  &.level-10 {
    background-color: #E6AC1C;
  }
  &.level-11 {
    background-color: #D99900;
  }
  &.level-12 {
    background-color: #BA8300;
  }
}

.green-scheme {
  &.base {
    background-color: #2AD699;
  }
  &.level-1 {
    background-color: #C6FDEA;
  }
  &.level-2 {
    background-color: #AAFCDF;
  }
  &.level-3 {
    background-color: #8DFBD4;
  }
  &.level-4 {
    background-color: #74F2C5;
  }
  &.level-5 {
    background-color: #5CE9B7;
  }
  &.level-6 {
    background-color: #43DFA8;
  }
  &.level-7 {
    background-color: #0EB379;
  }
  &.level-8 {
    background-color: #2AD699;
  }
  &.level-9 {
    background-color: #1CC589;
  }
  &.level-10 {
    background-color: #0EB379;
  }
  &.level-11 {
    background-color: #00A269;
  }
  &.level-12 {
    background-color: #008B5A;
  }
}


.red-scheme {
  &.base {
    background-color: #E23752;
  }
  &.level-1 {
    background-color: #FFCADC
  }
  &.level-2 {
    background-color: #FFB0CA
  }
  &.level-3 {
    background-color: #FF95B8
  }
  &.level-4 {
    background-color: #F87E9F
  }
  &.level-5 {
    background-color: #F16685
  }
  &.level-6 {
    background-color: #E94F6C
  }
  &.level-7 {
    background-color: #E6435F
  }
  &.level-8 {
    background-color: #E23752
  }
  &.level-9 {
    background-color: #C82A43
  }
  &.level-10 {
    background-color: #AF1D33
  }
  &.level-11 {
    background-color: #951024
  }
  &.level-12 {
    background-color: #800E1F
  }
}

.purple-scheme {
  &.base {
    background-color: #BD80E3;
  }
  &.level-1 {
    background-color: #FFEAF0;
  }
  &.level-2 {
    background-color: #FFDFE8;
  }
  &.level-3 {
    background-color: #FFD4E0;
  }
  &.level-4 {
    background-color: #EFBFE1;
  }
  &.level-5 {
    background-color: #DEAAE2;
  }
  &.level-6 {
    background-color: #CE95E2;
  }
  &.level-7 {
    background-color: #C68BE3;
  }
  &.level-8 {
    background-color: #BD80E3;
  }
  &.level-9 {
    background-color: #A25FDA;
  }
  &.level-10 {
    background-color: #883ED0;
  }
  &.level-11 {
    background-color: #6D1DC7;
  }
  &.level-12 {
    background-color: #5D19AB;
  }
}