@import 'colors.scss';
@import 'size_variables.scss';

.small-font {
  transform: scale(0.833);
}

// font-size
.font-size-6 {
  font-size: 7px !important;
}
.font-size-7 {
  font-size: 7px !important;
}
.font-size-8 {
  font-size: 8px !important;
}
.font-size-9 {
  font-size: 9px !important;
}
.font-size-10 {
  font-size: 10px !important;
}
.font-size-11 {
  font-size: 11px !important;
}
.font-size-12 {
  font-size: 12px !important;
}
.font-size-13 {
  font-size: 13px !important;
}
.font-size-14 {
  font-size: 14px !important;
}
.font-size-15 {
  font-size: 15px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-20 {
  font-size: 20px !important;
}
.font-size-24 {
  font-size: 24px !important;
}

// font-weight
.font-weight-300 {
  font-weight: 300 !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}

// text-color
.text-red {
  color: #E23752 !important;
}
.text-primary {
  color: $primary-color !important;
}
.text-primary-color {
  color: $primary-color;
}

.suited-icon {
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.club-suited-icon {
  background-image: url('./images/club-icon.svg');
}

.diamond-suited-icon {
  background-image: url('./images/diamond-icon.png');
  width: 18px;
}

.spade-suited-icon {
  background-image: url('./images/spade-icon.png');
  width: 22px;
}

.heart-suited-icon {
  background-image: url('./images/heart-icon.png');
  width: 26px;
}

.handle-point-up-icon {
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 20px;
  background-image: url('./images/Icons/hand-point-up-outline.svg');
}

.bg-color-red {
  background-color: #bd2130 !important;
}

.bg-color-primary {
  background-color: $primary-color !important;
}

.bg-white {
  background-color: #FFFFFF !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.btn-red {
  background: #E23752 !important;
  border-color: #E23752 !important;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
  &:hover {
    background: #bd2130 !important;
  }
  &:focus {
    background: #bd2130 !important;
  }
  &:active {
    background-color: #bd2130 !important;
  }
}

.btn-primary {
  background: $primary-color !important;
  border-color: $primary-color !important;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
  &:hover {
    background: $primary-color !important;
  }
  &:focus {
    background: $primary-color !important;
  }
  &:active {
    background-color: $primary-color !important;
  }
}

.border-radius-7 {
  border-radius: 7px;
}

.heading-font {
  font-family: Futura, sans-serif;
}

.w-95 {
  width: 95%;
}

.overflow-visible {
  overflow: visible;
}

.tooltip-question-mark {
  cursor: default !important;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.pagination {
  margin-top: 1rem;
  margin-bottom: 0;
  color: #fff;
  font-size: 18px;
  width: 100%;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  .page-item{
    margin: 0 2px;

    &:focus {
      outline: none !important;
    }

    a{
      background-color: $primary-color;
      padding: 8px 14px;
      display: block !important;
      width: 100% !important;
      &:focus {
        outline: none !important;
      }
    }
    &.page-previous{
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      margin: 0 3px;
    }
    &.page-next{
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      margin: 0 3px;
    }

    &.active a {
      background-color: $deck-darker-color;
    }
  }
}

.blurring-10 {
  // -webkit-filter: blur(5px);
  // -moz-filter: blur(5px);
  // -o-filter: blur(5px);
  // -ms-filter: blur(5px);
  filter: blur(10px);
}

.blurring-20 {
  filter: blur(15px);
}

.max-width-content {
  width: 100%;
  max-width: $app-content-max-width !important;
}
.padding-content{
  padding-left: $header-footer-content-padding !important;
  padding-right: $header-footer-content-padding !important;
}
.view-port-width {
  width: $app-view-port-width !important;
}

@mixin padding($padding-width) {
  .padding-content{
    padding-left: $padding-width !important;
    padding-right: $padding-width !important;
  }
}

@media screen and (max-width: 400px) {
  @include padding($padding-width: 10px);
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  @include padding($padding-width: 20px);
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  @include padding($padding-width: 30px);
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  @include padding($padding-width: 40px);
}

.no-select{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.mr-top-100 {
  margin-top: 100px !important;
}

.modal-backdrop {
  z-index: 10 !important;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}