.Toastify {
  .Toastify__toast-container {
    z-index: 100001;

    .Toastify__close-button {
      display: none;
    }

    .Toastify__toast-body {
      margin: 6px auto;
    }

    &.Toastify__toast-container--top-center {
      width: unset;
      max-width: 500px;
      min-width: 300px;


      .Toastify__toast--success {
        background-color: #28a745;
      }
    }
  }
}
