@import 'colors.scss';

#strategy-select-page {
  .right-container {
    background-color: $page-background-color;
    border-radius: 11px;

    .next-buttons {
      width: 806px;

      .next-btn, .subscribe-btn, .view-sims-btn {
        color: #FFFFFF;
        border-radius: 6px;

        &:focus {
          box-shadow: none;
        }
      }

      .subscribe-btn, .view-sims-btn {
        width: 180px;
        height: 50px;
      }

      .next-btn, .subscribe-btn {
        background-color: $primary-color;
      }

      .view-sims-btn {
        border: 1px solid #FFF;
      }
    }

    .btn-large{
      font-size: 60px;
      padding: 20px 30px;
      border-radius: 11px;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%,-50%);
    }
  }

  .preflop {
    .next-buttons {
      .next-btn {
        position: absolute;
        top: calc((100% - 30px) / 2);
        left: calc((100% - 40px) / 2);
      }

      .free-user-buttons {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
      }
    }
  }
}


@media (max-width: 768px) {
  #strategy-select-page {
    .right-container {
      margin-top: 20px;
    }
  }
}


