.hand-matrix-item-container {
  .background {
    border-radius: inherit;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .hand-matrix-item {
    position: relative;

    .card-rank {
      margin-top: 5px;
      margin-left: 5px;
      z-index: 1;
    }
  }
}
