.comment-wrapper {
  background-color: #3E3E5D;
  border-color: #3E3E5D;
  border-radius: 4px;
  outline: none;
  color: white;
  overflow: hidden;
  font-weight: 400;

  .comment-toolbar {
    background-color: #3E3E5D;
    border: none;

    .rdw-option-wrapper {
      border: none;
      &:hover {
        box-shadow: none;
      }
    }
    .rdw-option-active {
      background-color: grey;
      box-shadow: none;
    }

    .color-picker-popup {
      color: black;
      box-shadow: unset;

      .rdw-colorpicker-modal-options {
        overflow-x: unset;
      }
    }
  }

  .comment-editor {
    background-color: #3E3E5D;
    padding: 0 10px;
    min-height: 60px;

    .public-DraftStyleDefault-block {
      margin-top: 5px;
    }
  }
}

.notepad-content, .universal-content{
  .comment-editor {
    min-height: 100px;
  }
}
