@import "size_variables.scss";
@import 'colors.scss';

div[aria-labelledby='subscription-page-popup'] {
  z-index: 99999;
  .modal-dialog{
    min-width: 400px;
    max-width: 500px;
    margin-top: 240px;
  }
  .modal-title{
    font-size: 22px;
  }
  .modal-content {
    background-color:#31314D;
    color: #fff;
    border-radius: 11px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.109804);
    .custom-modal-header {
      padding: 14px;
      font-weight: bold;
      font-size: 14px;
      background-color: #383856;
      border-radius: 11px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      .close {
        color: #ffffff;
        opacity: unset;
        font-size: 24px;
        font-weight: lighter;

        &:hover {
          opacity: 0.75;
        }
      }
    }
    .content {
      padding: 20px;
      .info {
        font-size: 18px;
        margin-bottom: 0;
        text-align: letf;
      }

      .btn-container {
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0 2%;
        .btn-primary{
          flex-basis: 34%;
          margin-left: 20px;
        }
      }
    }

  }
}

@media (max-width: 768px) {
  div[aria-labelledby='subscription-page-popup'] {
    z-index: 99999;
    .modal-dialog{
      min-width: unset;
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////
div[aria-labelledby='change-subscription-popup'] {
  z-index: 9999;
  background-color: $page-background-deep-color;

  .change-subscription-popup {
    margin-top: $header-height;
    max-width: $app-container-max-width !important;
    width: $app-view-port-width;
  }

  .modal-content {
    background-color: $page-background-color;
    border-radius: 11px;
    color: white;
    border: none;
    padding-bottom: 40px;
  }

  .custom-modal-header {
    padding: 12px 20px 0;
    .close {
      color: #ffffff;
      opacity: unset;
      margin-top: 6px;
      margin-right: 10px;
      font-size: 26px;
      font-weight: lighter;
    }
  }

  .content {
    .subcribe-page.subcribe-content {
      margin-top: 0;
      .payment-section {
        padding-top: 50px;
      }
    }
  }

  @media (min-width: 768px) {
    .modal-content {
      min-height: 700px;
    }
  }
}
