@import 'colors.scss';

div[aria-labelledby='main-page-options-modal'] {
  z-index: 99999;
  .modal-dialog{
    min-width: 400px;
    max-width: 450px;
    margin-top: 280px;
    &.modal-xxl {
      min-width: 780px;
      max-width: unset;
      width: fit-content;
      margin-top: 10px !important;
    }
    &.modal-xl {
      min-width: 600px;
    }
  }
  .modal-content {
    background-color:#2A2A44;
    color: #fff;
    border-radius: 11px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.11);
    .custom-modal-header {
      font-weight: bold;
      padding: 15px;
      background-color: #383856;
      border-radius: 11px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;

      .close {
        color: #ffffff;
        opacity: unset;
        font-size: 26px;
        font-weight: lighter;

        &:hover {
          opacity: 0.75;
        }
      }
    }
    .modal-title {
      font-size: 16px !important;
      font-weight: bold;
    }
    button.close {
      font-size: 16px;
      span {
        color: #fff;
        &.sr-only {
          display: none;
        }
      }
    }
    .content {
      padding-top: 5px;
      .option {
        cursor: pointer;
        background-color: #383856;
        border-radius: 5px;
        height: 55px;
        width: 100%;
        padding: 0 15px;
        margin: 1px;
        .icon {
          width: 28px;
          height: 28px;
          border-radius: 5px;
          img {
            width: auto;
            height: 18px;
          }
        }
        .chips-icon {
          background-color: #3D64F8;
        }
        .explanation-icon {
          background-color: #F59B53;
        }
        .colour-icon {
          background-color: #2AD699;
        }
        .document-icon {
          background-color: #BD80E3;
        }
        .next-icon {
          height: 12px;
          width: auto;
        }
        .cbx {
          span:first-child {
            width: 20px;
            height: 20px;
            background: #2a2a44;
            svg {
              top: 5px;
              left: 4px;
            }
          }
        }
        .inp-cbx:checked + .cbx {
          span {
            &:first-child {
              background: $primary-color;
              border-color: $primary-color;
              animation: wave .4s ease;
              svg {
                stroke-dashoffset: 0;
              }
            }
          }  
        }
      }
    }
    .btn-primary {
      background: $primary-color ;
      border-color: $primary-color;
      padding: 10px;
      font-size: 16px;
      text-align: center;
      border-radius: 7px;
      cursor: pointer;
      &:hover {
        background: $primary-color;
      }
      &:focus {
        background: $primary-color;
      }
    }
    .back-icon {
      padding-left: 5px;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  div[aria-labelledby='main-page-options-modal'] {
    z-index: 99999;
    .modal-dialog{
      min-width: unset;
    }
  }
}